<div class="main_nav">
  <div class="container">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li><a href="#"><img src="<%= image_url('icon_gnb_search.png') %>" alt="" /></a></li>
        <li><a href="#"><img src="<%= image_url('icon_gnb_wish_list.png') %>" alt="" /></a></li>
        <li><a href="#"><img src="<%= image_url('icon_gnb_cart.png') %>" alt="" /></a></li>
        <li><a id="main_profile" href="/users/sign_up"><img src="<%= image_url('influencer_sample.jpg') %>" alt="" /></a></li>
        <li><a href="/"><img src="<%= image_url('utility_triangle.png') %>" alt="" /></a></li>
      </ul>
    </nav>
  </div>
</div>
