<div class="container sign_up sign_up_process">
  <div class="row">
    <div class="col-md-12 mb_line_break_reverse">
      <h3 class="header">이메일 주소로 회원가입</h3>
    </div>
    <% unless devise_error_messages! == "" %>
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= devise_error_messages! %>
      </div>
    </div>
    <% end %>
    <div class="col-md-6 col-md-offset-3" style="padding-top:80px;">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


        <div class="form-group">
          <%= f.label :'이메일' %><br />
          <%= f.email_field :email, class: "form-control check",placeholder: "이메일을 입력해주세요", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :'닉네임' %><br />
          <%= f.text_field :name, class: "form-control check",placeholder: "닉네임을 입력해주세요", autofocus: false %>
        </div>

        <div class="form-group">
          <%= f.label :'비밀번호' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 자 이상)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control check", placeholder: "패스워드를 입력해주세요", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label :'비밀번호 확인' %><br />
          <%= f.password_field :password_confirmation, class: "form-control check", autocomplete: "off" %>
        </div>

        <div class="col-md-12 no-gap">
          <div class="checkbox">
            <input type="checkbox" id="check1" class="checkbox-style check"/>
            <label for="check1"><a data-toggle="modal" data-target=".personal_inf_term">서비스 이용 약관</a>에 동의합니다</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="check2" class="checkbox-style check"/>
            <label for="check2"><a data-toggle="modal" data-target=".usage_term">개인정보취급방침</a>에 동의합니다</label>
          </div>
        </div>

        <div class="col-md-12 text-center actions">
          <%= f.submit "회원가입", class:"session_btn_black", id:"sign_up_go" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= render 'layouts/terms' %>
<style>
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    margin-right: 15px;
    line-height: 50px;
    font-size: 13px;
}

input[type=checkbox]+ label:before {
    top: 0px;
    content: "";
    display: inline-block;

    width: 50px;
    height: 50px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type=checkbox]:checked + label:before {

    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 30px;
    font-weight:800;
    color: #fff;
    background:#212121;
    text-align: center;
    line-height: 50px;

}
</style>
<script>
  $('#sign_up_go').on('click', function() {
    var validation = true;
    $('.check').each(function(){
        if ($(this).is(':checkbox')) {
          if (!$(this).is(":checked")) {
            validation = false;
          }
        }
        else if ($.trim($(this).val()) === ''){
          validation = false;
        }
    });
    if (!validation){
      alert('작성하지 않은 부분이 있습니다.');
      return false;
    }
    else {
      $('#sign_up_go').submit();
    }
  })
</script>
