<br>
<br>
<br>
<br>
<%= form_for cms_purchases_path, html: {class: "form-inline", method: :get} do |f|  %>
  <div class="form-group">
    <%= label :product_name, "상품명" %>
    <%= text_field_tag :product_name, params[:product_name], class: "form-control", placeholder: "상품명" %>
  </div>
  <%= button_tag "검색", type: "submit", class: "btn btn-default" %>
  <%= image_tag "ajax-loader.gif", id: "ajaxSpinnerImage", style: "display: none;" %>
<% end %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>주문목록번호</th>
      <th>주문번호</th>
      <th>결제일</th>
      <th>구매자명(이메일)</th>
      <!-- <th>구매자연락처</th> -->
      <th>상품명(옵션)</th>
      <!-- <th>인플루언서닉네임(이메일)</th> -->
      <th>수량</th>
      <th>배송지</th>
      <th>수령인명</th>
      <th>수령인연락처</th>
      <th>송장번호</th>
      <th>구매확정일</th>
      <th>상태</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_lists.each do |list| %>
      <tr>
        <td><%= list.purchase_list_id %></td>
        <td><%= list.purchase_item_id %></td>
        <td><%= list.purchase_date.class == String ? list.purchase_date[0..9] : list.purchase_date.strftime("%Y-%m-%d") %></td>
        <td><%= list.nickname %><br/>(<%= list.email %>)</td>
        <td><%= list.products_name %><br/>(<%= list.option %>)</td>
        <td><%= list.quantity %></td>
        <td><%= list.address %><br/><%= list.address_detail %></td>
        <td><%= list.receiver %></td>
        <td><%= list.phone_number %></td>
        <td><%= text_field_tag "tracking_number_#{list.purchase_item_id}", list.tracking_number, data: {id: list.purchase_item_id} %></td>
        <td><%= list.confirm_date %></td>
        <td><%= select_tag "status_#{list.purchase_item_id}", options_for_select([["신규", "purchase"], ["배송준비", "shipping_ready"], ["배송중", "shipping"], ["배송완료", "shipping_complete"], ["구매확정", "purchased"]], list.status), data: {id: list.purchase_item_id} %></td>
        <td><%= button_tag "저장", type: "button", class: "btn btn-default save-btn", data: {id: list.purchase_item_id} %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<script type="text/javascript">
  $(document).on('click', '.save-btn', function() {
    var itemId = $(this).data('id');
    var saveBtn = $(this);

    $.ajax({
      url: '/cms/purchases/' + itemId + '/status',
      method: 'patch',
      data: {
        tracking_number: $('input[name=tracking_number_' + itemId + ']').val(),
        status: $('select[name=status_' + itemId + ']').val()
      },
      beforeSend: function() {
        $("#ajaxSpinnerImage").show();
        saveBtn.prop('disabled', true);
      }
    }).always(function(response) {
      $("#ajaxSpinnerImage").hide();
      saveBtn.prop('disabled', false);
    }).fail(function() {
      alert('실패하였습니다');
    }).done(function() {
      alert('저장되었습니다');
    });
  });
</script>
