<div class="col-md-12 text-right">
  <%= link_to "교환/환불 신청", "#", class: "btn session_btn_black" %>
</div>
<div class="col-md-12">
  <!--desktop-->
  <div class="mb_line_break_reverse">
    <table class="table table-hover tb_inf_prdt tb_mp_delivery" style="border-collapse: separate;border-spacing: 0 20px;">
      <tbody>

        <tr>
          <th class="tb_mp_delivery_image" scope="row">
             <%=image_tag 'https://placehold.it/140x140', style: 'width:140px;height:140px;' %>
           </th>
          <td class="tb_mp_delivery_name text-left">
            <p class="tb_mp_delivery_name_header">[챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문</p>
            <div class="col-md-2 no-gap">
              <p class="header_spec">신청일</p>
            </div>
            <div class="col-md-4 no-gap">
              <p class="header_spec_sub">2016년 8월 8일</p>
            </div>
          </td>
          <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
            <a href="#" class="btn session_btn btn_white big_session_btn width_full" style="margin-bottom:0px;"> 교환신청접수</a>
          </td>
        </tr>

        <tr>
          <th class="tb_mp_delivery_image" scope="row">
             <%=image_tag 'https://placehold.it/140x140', style: 'width:140px;height:140px;' %>
           </th>
          <td class="tb_mp_delivery_name text-left">
            <p class="tb_mp_delivery_name_header">[챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문</p>
            <div class="col-md-2 no-gap">
              <p class="header_spec">신청일</p>
            </div>
            <div class="col-md-4 no-gap">
              <p class="header_spec_sub">2016년 8월 8일</p>
            </div>
          </td>
          <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
            <a href="#" class="btn session_btn btn_white big_session_btn width_full" style="margin-bottom:0px;"> 반품 수거중</a>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <!--desktop-->

  <!-- mb -->
  <div class="mb_line_break">
    <table class="table tb_inf_prdt_mb tb_inf_prdt_big_mb table-hover">
      <tbody>
        <tr>
          <th scope="row">
            <img src="https://placehold.it/100x100">
          </th>
          <td>
            <span class="tb_inf_prdt_brand">컨버스</span><br>
            <span class="tb_inf_prdt_name">척테일러 올스타 레더 화이트</span><br>
            <span class="tb_inf_prdt_number">132173C</span><br>
          </td>
        </tr>
        <tr>
          <th scope="row" class="tb_inf_prdt_sub">
            <span class="tb_inf_prdt_price tb_inf_prdt_sub_sub">신청일</span><br>
            <span class="tb_inf_prdt_number">2016년 8월 5일</span>
          </th>
          <td>
            <span class="tb_inf_prdt_price tb_inf_prdt_sub_sub">배송중</span><br>
            <span class="tb_inf_prdt_number">대한 통운 10160968997163</span>
          </td>
        </tr>
        <tr>
          <td scope="row" colspan="2">
            <%= link_to "사용 정보 입력", "#", class: "btn session_btn width_full_mb", disabled: "true", style: "margin-bottom:0px;" %>
          </td>
        </tr>
      </tbody>
    </table><!-- table sample1 -->


    <table class="table tb_inf_prdt_mb tb_inf_prdt_big_mb table-hover">
      <tbody>
        <tr>
          <th scope="row">
            <img src="https://placehold.it/100x100">
          </th>
          <td>
            <span class="tb_inf_prdt_brand">컨버스</span><br>
            <span class="tb_inf_prdt_name">척테일러 올스타 레더 화이트</span><br>
            <span class="tb_inf_prdt_number">132173C</span><br>
          </td>
        </tr>
        <tr>
          <th scope="row" class="tb_inf_prdt_sub">
            <span class="tb_inf_prdt_price tb_inf_prdt_sub_sub">신청일</span><br>
            <span class="tb_inf_prdt_number">2016년 8월 5일</span>
          </th>
          <td>
            <span class="tb_inf_prdt_price tb_inf_prdt_sub_sub">배송중</span><br>
            <span class="tb_inf_prdt_number">대한 통운 10160968997163</span>
          </td>
        </tr>
        <tr>
          <td scope="row" colspan="2">
            <%= link_to "사용 정보 입력", "#", class: "btn session_btn_black width_full_mb", style: "margin-bottom:0px;" %>
          </td>
        </tr>
      </tbody>
    </table><!-- table sample2 -->
  </div>
  <!-- mb -->
</div>
