<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />


<div class="container inf_admin brand_cms purc_ready my_page">
  <div class="row inf_admin_header no-margin_mb" style="border-bottom:none;">
    <div class="col-md-12 mb_line_break_reverse">
      <h3 class="basic_header">상품 등록</h3>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-8 no-gap">
      <div class="col-md-12 no-gap">
        <div class="col-md-4" style="padding: 0px 15px;">
          <h3 class="header">회원 기본 정보</h3>
        </div>
      </div>
      <div class="col-md-6 name_email_change">
        <div class="form-group">
          <label for="user_이름">상품명</label><br>
          <input class="form-control check" type="text" value="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group pfolio">
          <label for="exampleInputFile">상품 썸네일</label>
          <div class="input-group">
               <label class="input-group-btn">
                   <span class="btn session_btn">
                      파일선택 <%= file_field_tag 'attachment[]',class: 'hidden' %>
                   </span>
               </label>
               <input type="text" class="form-control" readonly>
           </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group pfolio">
          <label for="exampleInputFile">상품 상세 이미지</label>
          <div class="input-group">
               <label class="input-group-btn">
                   <span class="btn session_btn">
                      파일선택 <%= file_field_tag 'attachment[]',class: 'hidden' %>
                   </span>
               </label>
               <input type="text" class="form-control" readonly>
           </div>
        </div>
      </div>


      <div class="col-md-12 form-horizontal form_3cols_double_label">
        <div class="form-group">
          <div class="col-sm-4 no-gap form_3cols_double_label_3c">
            <label class="control-label double_label">판매가</label>
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
          </div>
          <div class="col-sm-4 col-xs-6 no-gap form_3cols_double_label_3c">
            <label class="control-label double_label">할인가</label>
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
          </div>
          <div class="col-sm-2 col-xs-6 no-gap form_3cols_double_label_3c">
            <div class="col-sm-6 col-xs-5 no-gap_right percent_left">
              <label class="control-label" style="left: -15px;position:absolute;">(</label>
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-6 col-xs-5 control-label percent_rightt">% )</label>
          </div>
        </div>
      </div>


      <div class="col-md-12 form-horizontal form_3cols_double_label">
        <div class="form-group">
          <div class="col-sm-4 no-gap form_3cols_double_label_3c">
            <label class="control-label double_label">재고수량</label>
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">개</label>
          </div>
        </div>
      </div>


      <div class="col-md-12 form-horizontal form_3cols_double_label">
        <div class="form-group">
          <div class="col-sm-4 no-gap form_3cols_double_label_3c">
            <label class="control-label double_label">배송비</label>
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
          </div>
          <div class="col-sm-4 col-xs-6 no-gap form_3cols_double_label_3c">
            <label class="control-label double_label">교환배송비</label>
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
          </div>
          <div class="col-sm-4 col-xs-6 no-gap form_3cols_double_label_3c">
            <label class="control-label double_label">반품배송비</label>
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="user_이름">교환/반품주소</label><br>
          <input class="form-control check" type="text" value="">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group purc_phone_form">
          <label for="user_이름">AS 전화번호</label><br>
          <input class="form-control check purc_phone" type="text" value="" name="phone_number1" id="phone_number1">
          <input class="form-control check purc_phone" type="text" value="" name="phone_number2" id="phone_number2">
          <input class="form-control check purc_phone" type="text" value="" name="phone_number3" id="phone_number3">
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="user_이름">AS 안내</label><br>
          <input class="form-control check" type="text" value="">
        </div>
      </div>

      <div class="col-md-8 form-group">
        <label for="옵션">옵션</label><br>
        <%= button_tag "옵션 추가", type: "submit", class: "btn session_btn", style: "max-width:150px;" %>
      </div>

      <div class="col-md-12 form-horizontal form_3cols_double_label">
        <div class="form-group">
          <div class="col-sm-3 col-xs-6 no-gap ">
            <div class="col-sm-12 no-gap_right">
              <input type="text" class="form-control" placeholder="옵션명">
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 no-gap ">
            <div class="col-sm-12 no-gap_right">
              <input type="text" class="form-control" placeholder="판매자 상품코드">
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 no-gap ">
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control" placeholder="옵션 재고 수량">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">개</label>
          </div>
          <div class="col-sm-3 col-xs-6 no-gap">
            <%= button_tag "옵션 삭제", type: "submit", class: "btn session_btn", style: "max-width:150px;" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 col-xs-6 no-gap ">
            <div class="col-sm-12 no-gap_right">
              <input type="text" class="form-control" placeholder="옵션명">
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 no-gap ">
            <div class="col-sm-12 no-gap_right">
              <input type="text" class="form-control" placeholder="판매자 상품코드">
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 no-gap ">
            <div class="col-sm-8 no-gap_right">
              <input type="text" class="form-control" placeholder="옵션 재고 수량">
            </div>
            <label for="inputEmail3" class="col-sm-4 control-label label_right_side">개</label>
          </div>
          <div class="col-sm-3 col-xs-6 no-gap">
            <%= button_tag "옵션 삭제", type: "submit", class: "btn session_btn", style: "max-width:150px;" %>
          </div>
        </div>
      </div>



      <div class="col-md-4" style="padding: 0px 15px;">
        <h3 class="header">세부 정보</h3>
      </div>
      <div class="col-md-12" style="margin-top:30px;">
          <div class="col-md-6 no-gap pd_mg" style="border:none;">
            <div class="form-group">
              <label for="user_이름">제조사</label><br>
              <input class="form-control check" type="text">
            </div>

            <div class="form-group">
              <label for="user_이름">원산지</label><br>
              <input class="form-control check" type="text">
            </div>
          </div>

          <div class="col-md-8 no-gap form-group">
            <div class="form-group col-xs-6 no-gap_left">
              <label for="user_이름">제조 일자</label><br>
              <input class="form-control check" type="text" value="">
            </div>

            <div class="form-group col-xs-6 no-gap_left">
              <label for="user_이름">유효 일자</label><br>
              <input class="form-control check" type="text" value="">
            </div>
          </div>

          <div class="col-md-8 no-gap form-horizontal form_3cols_double_label">
            <div class="form-group">
              <div class="col-sm-6 no-gap form_3cols_double_label_3c">
                <label class="control-label double_label">최소구매수량</label>
                <div class="col-sm-8 no-gap_right">
                  <input type="text" class="form-control">
                </div>
                <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
              </div>
              <div class="col-sm-6 col-xs-6 no-gap form_3cols_double_label_3c">
                <label class="control-label double_label">최대구매수량</label>
                <div class="col-sm-8 no-gap_right">
                  <input type="text" class="form-control">
                </div>
                <label for="inputEmail3" class="col-sm-4 control-label label_right_side">원</label>
              </div>
            </div>
          </div>

          <div class="col-md-6 no-gap pd_mg" style="border:none;">
            <div class="form-group">
              <label for="user_이름">판매자상품코드</label><br>
              <input class="form-control check" type="text">
            </div>
          </div>

          <div class="col-md-8 no-gap form-group">
            <div class="form-group col-xs-5 no-gap_left">
              <label for="user_이름">판매 기간</label><br>
              <div class="col-xs-8 no-gap_left">
                <input class="form-control check btn_white" type="text" id="date1_field" readonly>
              </div>
              <div class="col-xs-4 no-gap">
                <%= button_tag "달력", type: "submit", class: "btn session_btn", style: "max-width:100px;", id: "date1"  %>
              </div>
            </div>
            <div class="col-xs-1">
              <label class="invisible">~</label><br>
              <label style="padding-left:0px;padding-top:10px;">~</label><br>
            </div>
            <div class="form-group col-xs-5">
              <label for="user_이름" class="invisible">판매 기간2</label><br>
              <div class="col-xs-8 no-gap_left">
                <input class="form-control check btn_white" type="text" id="date2_field" readonly>
              </div>
              <div class="col-xs-4 no-gap">
                <%= button_tag "달력", type: "submit", class: "btn session_btn", style: "max-width:100px;", id: "date2" %>
              </div>
            </div>
          </div>

          <div class="col-md-6 no-gap">
            <div class="form-group">
              <label for="user_이름">상태 설정</label><br>
              <select class="form-control">
                <option value="판매중">판매중</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
      </div>

      <div class="col-md-4" style="padding: 0px 15px;">
        <h3 class="header">상품정보 제공공시</h3>
      </div>

      <div class="col-md-12">
        <div class="col-md-6 no-gap" style="margin-top:30px;">
          <div class="form-group">
            <label for="user_이름">상품군</label><br>
            <select class="form-control">
              <option value="의류">의류</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 brand_cms_inf">
          <div class="col-md-12 form-horizontal pass_change">
            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">제품 소개</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">색상</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">치수</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">제조사</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">세탁방법 및 취급시 주의사항</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">제조 연월</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">품질 보증 기준</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">A/S 책임자</label>
              <div class="col-md-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">제품하자가 아닌 소비자의 단순변심, 착오구매에 따른 청약철회가 불가능한 경우 그 구체적 사유와 근거</label>
              <div class="col-md-9 no-gap radio_parent">
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios_1st" id="optionsRadios_1st_1" value="option1" checked>
                    전자상거래등에서의소비자보호에관한법률 등에 의한 청약철회 제한 사유에 해당하는 경우 및 기타 객관적으로 이에 준하는 것으로 인정되는 경우 청약철회가 제한될 수 있습니다.
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios_1st" id="optionsRadios_1st_2" value="option2">
                    상품 상세 참조
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" class="radio_write" name="optionsRadios_1st" id="optionsRadios_1st_3" value="option3">
                    직접 입력
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control radio_write_field">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">재화등의 교환·반품·보증 조건 및 품질보증기준</label>
              <div class="col-md-9 no-gap radio_parent">
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    소비자분쟁해결기준(공정거래위원회 고시) 및 관계법령에 따릅니다.
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    상품 상세 참조
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" class="radio_write" name="optionsRadios" id="optionsRadios3" value="option3">
                    직접 입력
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control radio_write_field">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">대금을 환불받기 위한 방법과 환불이 지연될 경우 지연에 따른 배상금을 지급받을 수 있다는 사실 및 배상금 지급의 구체적 조건 및 절차</label>
              <div class="col-md-9 no-gap radio_parent">
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios_2nd" id="optionsRadios_2nd_1" value="option1" checked>
                    주문취소 및 대금의 환불은 네이버 페이 마이페이지에서 신청할 수 있으며, 전자상거래 등에서의 소비자보호에 관한 법률에 따라 소비자의 청약철회 후 판매자가 재화 등을 반환 받은 날로부터 3영업일 이내에 지급받은 대금의 환급을 정당한 사유 없이 지연하는 때에는 소비자는 지연기간에 대해서 연 20%의 지연배상금을 판매자에게 청구할 수 있습니다.
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios_2nd" id="optionsRadios_2nd_2" value="option2">
                    상품 상세 참조
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" class="radio_write" name="optionsRadios_2nd" id="optionsRadios_2nd_3" value="option3">
                    직접 입력
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control radio_write_field">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-md-3 control-label">소비자피해보상의 처리, 재화등에 대한 불만 처리 및 소비자와 사업자 사이의 분쟁처리에 관한 사항</label>
              <div class="col-md-9 no-gap radio_parent">
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios_3rd" id="optionsRadios_3rd_1" value="option1" checked>
                    소비자분쟁해결기준(공정거래위원회 고시) 및 관계법령에 따릅니다.
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" name="optionsRadios_3rd" id="optionsRadios_3rd_2" value="option2">
                    상품 상세 참조
                  </label>
                </div>
                <div class="radio col-md-12">
                  <label>
                    <input type="radio" class="radio_write" name="optionsRadios_3rd" id="optionsRadios_3rd_3" value="option3">
                    직접 입력
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control radio_write_field">
                </div>
              </div>
            </div>
          </div>
        </div><!-- brand_Cms_inf -->

      </div>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-3">
      <%= button_tag "상품등록신청", type: "submit", class: "btn session_btn_black", style: "margin-top:30px;" %>
    </div>
  </div>


</div>


<script type="text/javascript">
$(function() {

// We can attach the `fileselect` event to all file inputs on the page
$(document).on('change', ':file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

// We can watch for our custom `fileselect` event like this
$(document).ready( function() {
    $(':file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });
});

});
</script>

<script>
$(document).ready(function() {
  $.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년'
  });
  $('#date1_field').datepicker();
  $('#date1').on('click', function(){
    $('#date1_field').datepicker('show');
  });
  $('#date2_field').datepicker();
  $('#date2').on('click', function(){
    $('#date2_field').datepicker('show');
  });
})
</script>
