<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
<div class="container inf_admin brand_cms purc_ready">
  <div class="row inf_admin_header" style="border-bottom:none;">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">상품 목록</h3>
    </div>
  </div><!-- .row -->

  <div class="row search_applied_prdt" style="margin-bottom:50px;padding-bottom:50px;">
    <div class="col-md-9">
      <div class="col-md-6">
        <div class="col-md-12 no-gap form-horizontal name_email_change">
          <div class="form-group">
            <label for="user_이름" class="col-md-6 control-label" style="padding-left:0px;text-align:left">조회 월 선택</label>
            <div class="col-md-6">
              <select class="form-control">
                <option>2016년 08월</option>
                <option>2</option>
              </select>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-12 no-gap form-group">
          <div class="col-md-3 no-gap_left">
              <select class="form-control">
                <option>상품등록일</option>
                <option>2</option>
              </select>
          </div>
          <div class="form-group col-xs-3">
            <div class="col-xs-8 no-gap_left">
              <input class="form-control check btn_white" type="text" id="date1_field" readonly>
            </div>
            <div class="col-xs-4 no-gap">
              <%= button_tag "달력", type: "submit", class: "btn session_btn", style: "max-width:100px;", id: "date1"  %>
            </div>
          </div>
          <div class="col-xs-1 text-center">
            <label style="padding-left:0px;padding-top:10px;">~</label><br>
          </div>
          <div class="form-group col-xs-3">
            <div class="col-xs-8 no-gap_left">
              <input class="form-control check btn_white" type="text" id="date2_field" readonly>
            </div>
            <div class="col-xs-4 no-gap">
              <%= button_tag "달력", type: "submit", class: "btn session_btn", style: "max-width:100px;", id: "date2" %>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <div class="col-xs-4 no-gap">
              <%= link_to "검색", "#", class: "btn session_btn_black", style: "max-width:100px;" %>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:-30px;">
      <div class="col-md-5 no-gap">
        <div class="form-group">
          <div class="col-md-5 col-xs-9 no-gap">
            <select class="form-control">
              <option>상품명</option>
              <option>2</option>
            </select>
          </div>
          <!-- desk btn -->
          <div class="col-md-7 mb_line_break_reverse" style="margin-top:0px;">
            <div class="col-md-9">
              <div class="form-group">
                <input class="form-control check" placeholder="검색어를 입력하세요" type="text" value="" name="destination_name" id="destination_name">
              </div>
            </div>
            <div class="col-md-3">
              <%= button_tag "검색", class: "btn session_btn_black", style: "margin-bottom:0px;" %>
            </div>
          </div>
          <!-- desk btn -->
          <!-- mb btn -->
          <div class="col-md-6 col-xs-3 no-gap mb_line_break" style="text-align: center;margin-top: 0px;padding: 0px;margin-bottom: 15px;">
            <label class="invisible" for="user_이름">배송주소</label><br>
            <%= button_tag "+", class: "btn session_btn", style: "margin-bottom: 0px;padding-bottom: 9px;padding-top: 9px;" %>
          </div>
          <!-- mb btn -->
        </div>
      </div>

      <div class="col-md-7 no-gap">
        <div class="col-md-6">
          <div class="col-md-12 no-gap form-horizontal name_email_change">
            <div class="form-group">
              <label for="user_이름" class="col-md-4 control-label">재고</label>
              <div class="col-md-8">
                <select class="form-control">
                  <option value="" disabled selected>선택</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 no-gap form-horizontal name_email_change">
            <div class="form-group">
              <label for="user_이름" class="col-md-4 control-label">남은 판매 기간</label>
              <div class="col-md-8">
                <select class="form-control">
                  <option value="" disabled selected>선택</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-12 no-gap">
      <p class="help-block">선택한 주문을
        <%= button_tag "판매 재개 요청", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "판매 중지 요청", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "품절 처리", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "판매 종료 요청", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "할인 설정", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "판매가 변경", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "판매 기간 변경", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
        <%= button_tag "재고 수량 변경", type: "submit", class: "btn session_btn no-mg_bottom btn_group" %>
      </p>
      <table class="table table-bordered tb_balance">
        <thead>
          <tr class="active">
            <th class="text-center">
              <div class="checkbox">
                <input type="checkbox" id="check1" class="checkbox-style"/>
                <label for="check1" style="margin-top:5px;padding-left:0px;"></label>
              </div>
            </th>
            <th>상품 번호</th>
            <th>판매자 상품 코드</th>
            <th>옵션 번호</th>
            <th>상품명</th>
            <th>재고 수량</th>
            <th>판매가</th>
            <th>할인가</th>
            <th>상품 등록일</th>
            <th>판매 시작일</th>
            <th>판매 종료일</th>
            <th>판매 상태</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center">
              <div class="checkbox">
                <input type="checkbox" id="check1" class="checkbox-style"/>
                <label for="check1" style="margin-top:5px;padding-left:0px;"></label>
              </div>
            </th>
            <td scope="row">132173C</td>
            <td>132173C</td>
            <td>140</td>
            <td>Vivant Products</td>
            <td>999</td>
            <td>82,000원</td>
            <td>49,000원</td>
            <td>2016/08/08</td>
            <td>2016/08/08</td>
            <td>2016/08/08</td>
            <td>판매중<br>(2016/08/15)</td>
          </tr>
          <tr>
            <th class="text-center">
              <div class="checkbox">
                <input type="checkbox" id="check1" class="checkbox-style"/>
                <label for="check1" style="margin-top:5px;padding-left:0px;"></label>
              </div>
            </th>
            <td scope="row">132173C</td>
            <td>132173C</td>
            <td>140</td>
            <td>Vivant Products</td>
            <td>999</td>
            <td>82,000원</td>
            <td>49,000원</td>
            <td>2016/08/08</td>
            <td>2016/08/08</td>
            <td>2016/08/08</td>
            <td>판매중<br>(2016/08/15)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
