<p>주소 : <input type="text" name="address" id="address" value="서울시 강남구 삼성동"/></p>
<p>우편번호 : <input type="text" name="postcode" id="postcode" value="123-456"/></p>
<p>전화번호 : <input type="text" name="phone" id="phone" value="010-5555-5555"/></p>
<p>이름 : <input type="text" name="name" id="name" value="<%= current_user.name %>"/></p>
<p>email : <input type="text" name="email" id="email" value="<%= current_user.email %>"/></p>
<p>상품명 : <input type="text" name="product" id="product" value="결제테스트 - 구매"/></p>
<p>결제금액 : <input type="text" name="price" id="price" value="<%= @shopping_items.inject(0){ |sum, item| sum + item.product.price } %>"/></p>
<p>
  <%= select_tag "pay_method", "<option value='card'>신용카드</option><option value='trans'>실시간계좌이체</option><option value='vbank'>가상계좌</option><option value='phone'>휴대폰소액결제</option>".html_safe %>
</p>
<%= button_tag "구매하기", id: "buyBtn" %>


<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.1.js"></script>
<script type="text/javascript">
  $(document).on('click', 'button#buyBtn', function() {
    var IMP = window.IMP;
    IMP.init('imp21979455');

    IMP.request_pay({
        pg : 'html5_inicis',
        pay_method : $('#pay_method').val(),
        merchant_uid : 'merchant_' + new Date().getTime(),
        name : $('#product').val(),
        amount : $('#price').val(),
        buyer_email : $('#email').val(),
        buyer_name : $('#name').val(),
        buyer_tel : $('#phone').val(),
        buyer_addr : $('#address').val(),
        buyer_postcode : $('#postcode').val(),
        m_redirect_url: 'test-env2.ap-northeast-2.elasticbeanstalk.com'
    }, function(rsp) {
        if ( rsp.success ) {
            var msg = '결제가 완료되었습니다.';
            msg += '고유ID : ' + rsp.imp_uid;
            msg += '상점 거래ID : ' + rsp.merchant_uid;
            msg += '결제 금액 : ' + rsp.paid_amount;
            msg += '카드 승인번호 : ' + rsp.apply_num;

            $.ajax({
              url: '/purchases',
              method: 'post',
              data: rsp
            }).done(function(res) {
              location.href = '/purchases';
            });
        } else {
            var msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;

            alert(msg);
        }
    });
  });
</script>
