<div class="container purc_ready my_page my_page_wnb_letter">
  <div class="row" id="tabs">
    <%= render "shared/user_info_tab" %>

    <div class="col-md-9 no-gap">
      <div class="col-md-12 purc_ready my_page" style="padding: 0px 15px;">
        <h3 class="header">워너비 레터</h3>
      </div>
      <div class="col-md-12" style="margin-top:30px;">
        <!--desktop-->
        <div class="mb_line_break_reverse">
          <table class="table tb_inf_prdt tb_mp_delivery tb_mp_wnb" style="border-spacing: 0px;border-collapse:collapse">
            <tbody>
              <tr>
                <th class="tb_mp_delivery_image" scope="row">
                   <%=image_tag 'https://placehold.it/140x140', style: 'width:140px;height:140px;' %>
                 </th>
                <td class="tb_mp_delivery_name text-left">
                  <p class="tb_mp_delivery_name_header">[챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문</p>
                  <div class="col-md-2 no-gap">
                    <p class="header_spec">결제 금액</p>
                    <p class="header_spec">주문일</p>
                  </div>
                  <div class="col-md-4 no-gap">
                    <p class="header_spec_sub">73,800원</p>
                    <p class="header_spec_sub">2016년 8월 8일</p>
                  </div>
                </td>
                <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
                  <%= button_tag "작성 가능", class: "btn session_btn width_full btn_white", disabled: true, style: "margin-bottom:0px;border:none;" %>
                  <%= button_tag "워너비레터 작성", class: "btn session_btn_black width_full below_trigger", style: "margin-bottom:0px;" %>
                </td>
              </tr>

              <tr>
                <td colspan="3">
                  <div class="col-md-12 no-gap">
                    <div class="col-md-8 form-horizontal search_inf">
                      <div class="form-group long_height">
                        <label for="inputEmail3" class="col-sm-2 control-label no-gap">작성대상 검색</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="예)홍길동, abc123">
                        </div>
                        <div class="col-sm-2 no-gap text-left">
                          <%= button_tag "검색", class: "btn session_btn" %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 no-gap find_inf">
                    <div class="col-md-12">
                      <a href="#" class="find_inf_spec">
                        <div class="col-md-12 find_inf_spec_header">
                          <div class="col-xs-4 col-md-2 text-left"> <%= image_tag 'default_user.png', style: "width:40px;height:40px;" %> </div>
                          <div class="col-xs-4 col-md-2 inf_spec_name text-left"> 이성경 </div>
                          <div class="col-xs-4 col-md-8 inf_spec_id text-left"> heybiblee </div>
                        </div>
                      </a>

                      <a href="#" class="find_inf_spec">
                        <div class="col-md-12 find_inf_spec_header">
                          <div class="col-xs-4 col-md-2 text-left"> <%= image_tag 'default_user.png', style: "width:40px;height:40px;" %> </div>
                          <div class="col-xs-4 col-md-2 inf_spec_name text-left"> 이성경 </div>
                          <div class="col-xs-4 col-md-8 inf_spec_id text-left"> heybiblee </div>
                        </div>
                      </a>

                      <a href="#" class="find_inf_spec">
                        <div class="col-md-12 find_inf_spec_header">
                          <div class="col-xs-4 col-md-2 text-left"> <%= image_tag 'default_user.png', style: "width:40px;height:40px;" %> </div>
                          <div class="col-xs-4 col-md-2 inf_spec_name text-left"> 이성경 </div>
                          <div class="col-xs-4 col-md-8 inf_spec_id text-left"> heybiblee </div>
                        </div>
                      </a>

                      <div class="col-md-4 col-md-offset-4 inf_pagination">
                        <ul class="list-unstyled">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </div>

                    </div>

                  </div>

                  <div class="col-md-12 no-gap writing_letter">
                    <div class="col-md-12 profile text-left">
                      <%= image_tag 'default_user.png' %>
                      <p>이현욱 (loco7530@gmail.com)</p>
                    </div>
                    <div class="col-md-12 no-gap">
                      <div class="form-group long_height">
                        <input type="text" class="form-control" placeholder="워너비에게 전하고싶은 내용을 작성해주세요">
                      </div>
                    </div>
                    <div class="col-sm-12 no-gap text-right">
                      <%= button_tag "작성완료", class: "btn session_btn_black width_full_mb" %>
                    </div>
                  </div>


                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--desktop-->

        <!--desktop-->
        <div class="mb_line_break_reverse">
          <table class="table tb_inf_prdt tb_mp_delivery tb_mp_wnb" style="border-spacing: 0px;border-collapse:collapse">
            <tbody>
              <tr>
                <th class="tb_mp_delivery_image" scope="row">
                   <%=image_tag 'https://placehold.it/140x140', style: 'width:140px;height:140px;' %>
                 </th>
                <td class="tb_mp_delivery_name text-left">
                  <p class="tb_mp_delivery_name_header">[챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문</p>
                  <div class="col-md-2 no-gap">
                    <p class="header_spec">결제 금액</p>
                    <p class="header_spec">주문일</p>
                  </div>
                  <div class="col-md-4 no-gap">
                    <p class="header_spec_sub">73,800원</p>
                    <p class="header_spec_sub">2016년 8월 8일</p>
                  </div>
                </td>
                <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
                  <%= button_tag "답장 완료",  class: "btn session_btn width_full btn_white", disabled: true, style: "margin-bottom:0px;border:none;" %>
                  <%= button_tag "내용 보기",  class: "btn session_btn width_full below_trigger", style: "margin-bottom:0px;" %>
                </td>
              </tr>

              <tr>
                <td colspan="3">

                  <div class="col-md-12 no-gap writing_letter writing_letter_complete">
                    <div class="col-md-12 profile text-left">
                      <%= image_tag 'default_user.png' %>
                      <p>이현욱 (loco7530@gmail.com)</p>
                    </div>
                    <div class="col-md-8 your_letter text-left">
                      <p>국회는 헌법개정안이 공고된 날로부터 60일 이내에 의결, 국회의 의결은 재적의원 3분의 2!!</p>
                    </div>

                    <div class="col-md-12 profile text-right" style="margin-top:20px;">
                      <p>이성경 (heybiblee)</p>
                      <%= image_tag 'default_user.png' %>
                    </div>
                    <div class="col-md-8 col-md-offset-4 text-right reply">
                      <p>국회는 헌법개정안이 공고된 날로부터 60일 이내에 의결, 국회의 의결은 재적의원 3분의 2!!</p>
                    </div>


                  </div>


                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--desktop-->



        <!--desktop-->
        <div class="mb_line_break_reverse">
          <table class="table tb_inf_prdt tb_mp_delivery tb_mp_wnb" style="border-spacing: 0px;border-collapse:collapse">
            <tbody>
              <tr>
                <th class="tb_mp_delivery_image" scope="row">
                   <%=image_tag 'https://placehold.it/140x140', style: 'width:140px;height:140px;' %>
                 </th>
                <td class="tb_mp_delivery_name text-left">
                  <p class="tb_mp_delivery_name_header">[챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문</p>
                  <div class="col-md-2 no-gap">
                    <p class="header_spec">결제 금액</p>
                    <p class="header_spec">주문일</p>
                  </div>
                  <div class="col-md-4 no-gap">
                    <p class="header_spec_sub">73,800원</p>
                    <p class="header_spec_sub">2016년 8월 8일</p>
                  </div>
                </td>
                <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
                  <%= button_tag "답장 대기",  class: "btn session_btn width_full btn_white", disabled: true, style: "margin-bottom:0px;border:none;" %>
                  <%= button_tag "내용 보기",  class: "btn session_btn width_full below_trigger", style: "margin-bottom:0px;" %>
                </td>
              </tr>

              <tr>
                <td colspan="3">

                  <div class="col-md-12 no-gap writing_letter writing_letter_complete">
                    <div class="col-md-12 profile text-left">
                      <%= image_tag 'default_user.png' %>
                      <p>이현욱 (loco7530@gmail.com)</p>
                    </div>
                    <div class="col-md-8 your_letter text-left">
                      <p>국회는 헌법개정안이 공고된 날로부터 60일 이내에 의결, 국회의 의결은 재적의원 3분의 2!!</p>
                    </div>

                    <div class="col-md-12 profile text-right" style="margin-top:20px;">
                      <p>이성경 (heybiblee)</p>
                      <%= image_tag 'default_user.png' %>
                    </div>
                    <div class="col-md-8 col-md-offset-4 text-right reply_yet">
                      <p>아직 답장이 도착하지 않았습니다.</p>
                    </div>


                  </div>


                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--desktop-->


      </div>

    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // 인플루언서 active관련
  $('.find_inf_spec').on('click',function() {
    if( $(this).hasClass('active') ) {
      $(this).removeClass('active');
    }
    else {
      $(this).addClass('active');
    }
  })
  // 상세정보 on/off
  $('.below_trigger').closest('tbody').find('tr:last').hide();
  $('.below_trigger').on('click',function(){
    $(this).closest('tbody').find('tr:last').toggle(1000);
  })
})
</script>
