<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
<div class="container inf_admin">
  <div class="row inf_admin_header no-margin_mb" style="border-bottom:none;">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">워너비 레터 관리</h3>
    </div>
  </div><!-- .row -->

  <div class="row search_applied_prdt no-margin_mb">
    <div class="col-md-12 no-gap_mb">
      <h3 class="inf_admin_sub_header">조회 옵션</h3>
    </div>
    <div class="col-md-12 no-gap_mb form-horizontal my_page">
      <div class="col-md-5 col-xs-10 no-gap form-group name_email_change">
        <label for="user_이름" class="col-xs-4 control-label" style="padding-top:10px;">상태</label>
        <div class="col-xs-8" style="margin-bottom:15px;">
          <select class="form-control">
            <option value="" disabled selected>선택</option>
            <option>2</option>
          </select>
        </div>
        <label for="user_이름" class="col-xs-4 control-label" style="padding-top:10px;">답장기한</label>
        <div class="col-xs-8">
          <select class="form-control">
            <option value="" disabled selected>선택</option>
            <option>2</option>
          </select>
        </div>
      </div>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-12 no-gap_mb">
      <!--desktop-->
      <div class="mb_line_break_reverse">
        <table class="table tb_wannabe" style="border-collapse: separate;border-spacing: 0 20px;">
          <tbody>
            <tr>
              <th class="tb_wannabe_status" scope="row">
                <p class="tb_wannabe_status_no">2</p>
                <p class="tb_wannabe_status_current">답장대기</p>
                <p class="tb_wannabe_status_date">2016-08-08<br>
                17:01 까지</p>
              </th>
              <td class="tb_wannabe_text">
                <div class="tb_inf_wannabe_back_color">
                  <span class="tb_wannabe_text_user">이현욱 님 (loc****@g***)</span><br>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
              </td>
              <td class="tb_wannabe_textarea text-center">
                <textarea name="name" cols="40"></textarea>
              </td>
              <td class="tb_wannabe_btn">
                <%= link_to "답장 거절 / 신고", "#", class: "btn session_btn width_full", style: "background:#b2b2b2"%><br>
                <%= link_to "답장 등록", "#", class: "btn session_btn_black width_full"%>
              </td>
            </tr>

            <tr>
              <th class="tb_wannabe_status" scope="row">
                <p class="tb_wannabe_status_no">1</p>
                <p class="tb_wannabe_status_current">답장대기</p>
                <p class="tb_wannabe_status_date">2016-08-08<br>
                17:01 까지</p>
              </th>
              <td class="tb_wannabe_text">
                <div class="tb_inf_wannabe_back_color">
                  <span class="tb_wannabe_text_user">이현욱 님 (loc****@g***)</span><br>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
              </td>
              <td class="tb_wannabe_textarea text-center">
                <textarea name="name" cols="40"></textarea>
              </td>
              <td class="tb_wannabe_btn">
                <%= link_to "답장 거절 / 신고", "#", class: "btn session_btn width_full", style: "background:#b2b2b2"%><br>
                <%= link_to "답장 등록", "#", class: "btn session_btn_black width_full"%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--desktop-->
      <!-- mb -->
      <div class="mb_line_break" style="margin-top:20px;">
        <table class="table tb_wannabe_mb">
          <tbody>
            <tr>
              <th scope="row">
                <span class="tb_inf_prdt_brand">2</span>
              </td>
              <td>
                <span class="tb_inf_prdt_brand">답장대기</span>
              </td>
              <td>
                <span class="tb_inf_prdt_brand">2016-08-08 17:01 까지</span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="tb_inf_wannabe_back_color col-xs-11">
                  <span class="tb_wannabe_text_user">이현욱 님 (loc****@g***)</span><br>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
              </td>
            </tr>
              <td colspan="3">
                <div class="col-xs-11 col-xs-offset-1 no-gap_mb tb_wannabe_textarea">
                  <textarea name="name" rows="5"></textarea>
                </div>
              </td>
            <tr>
              <td scope="row" colspan="3" class="tb_wannabe_btn">
                <div class="col-xs-6 no-pd_left_mb">
                  <%= link_to "답장 거절 / 신고", "#", class: "btn session_btn width_full", style: "background:#b2b2b2"%>
                </div>
                <div class="col-xs-6 no-pd_right_mb">
                  <%= link_to "답장 등록", "#", class: "btn session_btn_black width_full"%>
                </div>
              </td>
            </tr>
          </tbody>
        </table><!-- table sample1 -->

        <table class="table tb_wannabe_mb">
          <tbody>
            <tr>
              <th scope="row">
                <span class="tb_inf_prdt_brand">1</span>
              </td>
              <td>
                <span class="tb_inf_prdt_brand">답장대기</span>
              </td>
              <td>
                <span class="tb_inf_prdt_brand">2016-08-08 17:01 까지</span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="tb_inf_wannabe_back_color col-xs-11">
                  <span class="tb_wannabe_text_user">이현욱 님 (loc****@g***)</span><br>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
              </td>
            </tr>
              <td colspan="3">
                <div class="col-xs-11 col-xs-offset-1 no-gap_mb tb_wannabe_textarea">
                  <textarea name="name" rows="5"></textarea>
                </div>
              </td>
            <tr>
              <td scope="row" colspan="3" class="tb_wannabe_btn">
                <div class="col-xs-6 no-pd_left_mb">
                  <%= link_to "답장 거절 / 신고", "#", class: "btn session_btn width_full", style: "background:#b2b2b2"%>
                </div>
                <div class="col-xs-6 no-pd_right_mb">
                  <%= link_to "답장 등록", "#", class: "btn session_btn_black width_full"%>
                </div>
              </td>
            </tr>
          </tbody>
        </table><!-- table sample2 -->
    </div>
  </div><!-- .row -->
</div>
