<div class="container inf_admin">
  <div class="row inf_admin_header no-margin_mb search_applied_prdt_mb">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">사용 정보 수정</h3>
    </div>
  </div>

  <div class="row search_applied_prdt search_applied_prdt_mb">
    <div class="col-md-12 mb_line_break_reverse">
      <h3 class="inf_admin_sub_header">샘플 수령 정보 입력</h3>
    </div>
    <div class="col-md-12 no-gap_mb">
      <div class="mb_line_break_reverse">
        <table class="table table-hover tb_inf_prdt" style="border-collapse: separate;border-spacing: 0 20px;">
          <tbody>
            <tr>
              <th class="tb_inf_prdt_image" scope="row">
                 <%=image_tag @influencer_stores_product.product.image_basic.thumb, style: 'width:120px;height:120px;' %>
              </th>
              <td class="tb_inf_prdt_brand"><%= @influencer_stores_product.product.brand %></td>
              <td class="tb_inf_prdt_name"><%= @influencer_stores_product.product.name %></td>
              <td class="tb_inf_prdt_number"><%= @influencer_stores_product.product.id %></td>
              <td class="tb_inf_prdt_price"> <%= @influencer_stores_product.product.price %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- .row -->

  <div class="row usage_inf" style="margin-top:30px;">
    <div class="col-md-8 no-gap_mb">
      <%= form_for @influencer_stores_product, url: {action: :update_shipping}, html: {multipart: true, class: "form-horizontal", method: :put} do |f|  %>
        <% if current_user.is_admin?  %>
          <div class="col-md-12 no-gap form-group">
            <div class="col-md-6 no-gap image-upload">
              <%= f.label :image_review, "사용사진 업로드" %>
              <span class="help-block">600*600px  이상 권장</span>
              <%= f.file_field :image_review, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-8 no-gap pd_mg" style="border:none;">
            <div class="form-group">
              <%= f.label :comment, "추천 코멘트" %>
              <%= f.text_area :comment, rows: 4, class: "form-control", placeholder: "코멘트" %>
              <p class="help-block text-right">0/30자</p>
            </div>
            <div class="form-group">
              <%= f.label :feed_url, "SNS 피드 연결" %>
              <%= f.text_field :feed_url, class: "form-control", placeholder: "https://www.instagram.com/~" %>
            </div>
          </div>
        <% end %>
        <% if current_user.is_seller? || current_user.is_admin? %>
          <div class="col-md-8 no-gap pd_mg" style="border:none;">
            <% if current_user.is_admin? %>
            <div class="form-group">
              <%= f.label :status, "상태" %>
              <%= f.select :status, [["신청", "proposal"], ["신청승인함", "approved"], ["배송중", "shipping"], ["등록대기중", "apply_wating"], ["등록완료", "complete"], ["신청거절", "proposal_reject"]], class: "form-control" %>
            </div>
            <% else %>
              <%= f.hidden_field :status, value: "shipping" %>
            <% end %>
            <div class="form-group">
              <%= f.label :tracking_number, "송장번호" %>
              <%= text_field :shipping_tracking, :number, class: "form-control", placeholder: "송장번호" %>
            </div>
            <div class="form-group">
              <%= f.label :shipping_type, "배송방법" %>
              <%= select :shipping_tracking, :shipping_type, [["택배", "door"]], include_blank: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :shipping_company, "택배사" %>
              <%= select :shipping_tracking, :shipping_company, [["CJ", "cj"]], include_blank: true, class: "form-control" %>
            </div>
          </div>
        <% end %>
        <div class="col-md-12 no-gap">
          <%= button_tag "수정", class: "btn session_btn_black" %>
          <%= link_to "뒤로", :back, class: "btn session_btn_black" %>
        </div>
      <% end %>
    </div><!-- 배송 정보 -->
  </div><!-- .row -->
</div>
