<div class="container inf_admin purc_ready">
  <div class="row inf_admin_header" style="border-bottom: 1px solid #d4d4d4">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">판매 신청 내역</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="mb_line_break_reverse">
        <table class="table table-hover tb_inf_prdt" style="border-collapse: separate;border-spacing: 0 20px;">
          <tbody>
            <% @influencer_stores_products.each do |influencer_stores_product| %>
              <th class="tb_inf_prdt_image" scope="row">
                 <%=image_tag influencer_stores_product.product.image_basic.thumb, style: 'width:120px;height:120px;' %>
               </th>
              <td class="tb_inf_prdt_brand" style="width:5%"></td>
              <td class="tb_inf_prdt_name text-left" style="width:30%">
                <span class="tb_inf_sub_sub">컨버스</span><br>
                <%= influencer_stores_product.product.name %> <br>
                <span class="tb_inf_sub_sub"><%= influencer_stores_product.product.id %></span>
              </td>
              <td class="tb_inf_prdt_number" style="width:15%"> <span class="tb_inf_sub">신청일</span><br> <span class="tb_inf_sub_sub"><%= influencer_stores_product.created_at.strftime("%Y년 %m월 %d일") %></span> </td>
              <td class="tb_inf_prdt_price" style="width:30%;"> <span class="tb_inf_sub">배송중</span><br> <span class="tb_inf_sub_sub"><%= influencer_stores_product.destination.shipping_company %> <%= influencer_stores_product.destination.tracking_number %></span></td>
              <td class="tb_inf_prdt_choose" style="padding-right:30px;"> <%= link_to "사용 정보 입력", edit_cms_influencer_stores_product_path(influencer_stores_product), class: "btn session_btn #{'session_btn_black' if influencer_stores_product.status == 'proposal_waiting'}", disabled: influencer_stores_product.status == "proposal_waiting" ? false : true %></td>
            <% end %>
          </tbody>
        </table>
        </table>
      </div>
    </div>
  </div>
</div>
