<div class="container inf_admin purc_ready">
  <div class="row inf_admin_header" style="border-bottom: 1px solid #d4d4d4">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">상품관리(판매신청 내역)</h3>
    </div>
  </div>

  <div class="row search_applied_prdt no-margin_mb">
    <div class="col-md-12 no-gap_mb">
      <h3 class="inf_admin_sub_header">상품 조회</h3>
    </div>
    <div class="col-md-12 no-gap_mb">
      <div class="col-md-6 no-gap form-group">
        <%= form_for cms_influencer_stores_products_path, html: {class: "", method: :get} do |f|  %>
          <div class="col-md-5 col-xs-6 no-gap">
            <%= select_tag :search_type, options_for_select([["상품명", "name"], ["브랜드명", "brand"], ["상품번호", "product_code"]], params[:search_type]), class: "form-control" %>
          </div>
          <div class="col-md-7 no-gap_mb" style="margin-top:0px;">
            <div class="col-xs-8 no-gap_mb">
              <div class="form-group">
                <%= text_field_tag :search_input, params[:search_input], class: "form-control", placeholder: "검색어를 입력하세요" %>
              </div>
            </div>
            <div class="col-xs-4 no-pd_right_mb">
              <%= button_tag "검색", type: "submit", class: "btn session_btn_black width_full_mb", style: "margin-bottom:0px;" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mb_line_break_reverse">
        <table class="table table-hover tb_inf_prdt" style="border-collapse: separate;border-spacing: 0 20px;">
          <tbody>
            <% @influencer_stores_products.each do |influencer_stores_product| %>
              <tr>
                <th class="tb_inf_prdt_image" scope="row">
                   <%=image_tag influencer_stores_product.product.image_basic.thumb, style: 'width:120px;height:120px;' %>
                </th>
                <td class="tb_inf_prdt_name text-left" style="width:20%">
                  <span class="tb_inf_sub_sub">컨버스</span><br>
                  <%= influencer_stores_product.product.name %> <br>
                  <span class="tb_inf_sub_sub"><%= influencer_stores_product.product.id %></span>
                </td>
                <td class="tb_inf_prdt_number" style="width:10%">
                  <span class="tb_inf_sub">신청일</span><br> <span class="tb_inf_sub_sub"><%= influencer_stores_product.created_at.strftime("%Y년 %m월 %d일") %></span>
                </td>
                <td class="tb_inf_prdt_number" style="width:10%">
                  <span class="tb_inf_sub"><%= influencer_stores_product.product.price %> 원</span>
                </td>
                <td class="tb_inf_prdt_price" style="width:10%;">
                  <span class="tb_inf_sub"><%= influencer_stores_product.status %></span><br> <span class="tb_inf_sub_sub">
                    <% if influencer_stores_product.shipping_tracking.present? %>
                      <%= influencer_stores_product.shipping_tracking.shipping_company %> <%= influencer_stores_product.shipping_tracking.number %>
                    <% end %>
                  </span>
                </td>
                <td class="tb_inf_prdt_choose" style="padding-right:30px;width:25%">
                  <%= link_to "고유 링크 복사", "#", class: "btn session_btn_black"%>
                  <% if current_user.is_influencer? && influencer_stores_product.shipping? %>
                    <%= link_to "사용 정보 입력", info_apply_cms_influencer_stores_products_path(id: influencer_stores_product), class: "btn session_btn session_btn_black" %>
                  <% elsif current_user.is_admin? || (current_user.is_influencer? && (influencer_stores_product.apply_wating? || influencer_stores_product.complete?)) %>
                    <%= link_to "사용 정보 입력", edit_cms_influencer_stores_product_path(influencer_stores_product), class: "btn session_btn session_btn_black" %>
                  <% else %>
                    <%= link_to "사용 정보 입력", "#", class: "btn session_btn", disabled: true %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
