<div class="container inf_admin">
  <div class="row inf_admin_header no-margin_mb">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">상품 판매 신청</h3>
    </div>
    <div class="col-md-12 no-gap_mb">
      <div class="col-md-6 prdt_apply_process no-gap_mb">
        <div class="col-xs-4 text-center prdt_apply_process_3cols">
          <i class="fa fa-lg fa-arrow-right"></i>
          <div class="circle_default">
            <span>1</span>
          </div>
          <p class="prdt_apply_process_desc">신청<br class="mb_line_break">상품 조회</p>
        </div>
        <div class="col-xs-4 text-center prdt_apply_process_3cols">
          <i class="fa fa-lg fa-arrow-right"></i>
          <div class="circle_selected">
            <span>2</span>
          </div>
          <p class="prdt_apply_process_desc">샘플<br class="mb_line_break">수령 정보 입력</p>
        </div>
        <div class="col-xs-4 text-center prdt_apply_process_3cols">
          <div class="circle_default">
            <span>3</span>
          </div>
          <p class="prdt_apply_process_desc">사용 정보<br class="mb_line_break">입력</p>
        </div>
      </div>
    </div>
  </div><!-- .row -->

  <div class="row search_applied_prdt no-margin_mb">
    <div class="col-md-12 no-gap_mb">
      <h3 class="inf_admin_sub_header">샘플 수령 정보 입력</h3>
    </div>
    <div class="col-md-12 no-gap_mb">
      <!--desktop-->
      <div class="mb_line_break_reverse">
        <table class="table table-hover tb_inf_prdt" style="border-collapse: separate;border-spacing: 0 20px;">
          <tbody>
            <tr>
              <th class="tb_inf_prdt_image" scope="row">
                 <%=image_tag @influencer_stores_product.product.image_basic, style: 'width:120px;height:120px;' %>
              </th>
              <td class="tb_inf_prdt_brand"><%= @influencer_stores_product.product.brand %></td>
              <td class="tb_inf_prdt_name"><%= @influencer_stores_product.product.name %></td>
              <td class="tb_inf_prdt_number"> &nbsp;</td>
              <td class="tb_inf_prdt_price"> <%= @influencer_stores_product.product.price %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- .row -->

  <%= form_for @influencer_stores_product, url: {action: :create}, html: {multipart: true, class: "form-horizontal"} do |f|  %>
  <div class="row search_applied_prdt" style="padding: 30px 0px;">
    <div class="col-md-12 col-xs-8 no-gap_mb">
      <div class="form-group">
        <div class="col-md-3 no-gap">
          <label for="product_options">옵션</label><br>
          <%= select_tag "option", options_from_collection_for_select(@influencer_stores_product.product.product_options, "name", "name") ,class: "form-control" %>
        </div>
      </div>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-8 no-gap_mb">
      <br>
      <%= render "shared/address_book" %>

      <%= hidden_field_tag :product_id, params[:product_id] %>

      <div class="col-md-12 no-gap">
        <%= button_tag "샘플 수령 신청", type: "submit", class: "btn session_btn_black", style: "margin-top:30px;" %>
        <%= link_to "뒤로", :back, class: "btn session_btn_black", style: "margin-top:30px;" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('#address_book_name, #receiver, #zonecode, #address, #address_detail, #phone_number1, #phone_number1, #phone_number2, #phone_number3').prop('required', true);
  });
</script>
