<%= form_for products_cms_influencer_stores_products_path, html: {class: "form-inline", method: :get} do |f|  %>
  <div class="form-group">
    <%= label :product_name, "상품명" %>
    <%= text_field_tag :product_name, params[:product_name], class: "form-control", placeholder: "상품명" %>
    <%= label :seller, "판매자" %>
    <%= text_field_tag :seller, params[:seller], class: "form-control", placeholder: "판매자" %>
    <%= label :product_number, "상품번호" %>
    <%= text_field_tag :product_number, params[:product_number], class: "form-control", placeholder: "상품번호" %>
  </div>
  <%= button_tag "검색", type: "submit", class: "btn btn-default" %>
<% end %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>상품썸네일</th>
      <th>상품명</th>
      <th>상품번호</th>
      <th>판매자</th>
      <th>가격</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image_basic.thumb %></td>
        <td><%= product.name %></td>
        <td><%= product.seller_product_code %></td>
        <td><%= product.price %></td>
        <td><%= product.price %></td>
        <td><%= link_to "선택", new_cms_influencer_stores_product_path(product_id: product.id) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
