<div class="col-md-3 no-gap">
  <div class="form-group">
    <% current_user.address_books.each do |address_book| %>
      <%= button_tag address_book.name, type: "button", class: "btn session_btn btn_white", style: "padding:9px 18px;margin-bottom:0px;", onclick: "changePostInfo('#{address_book.receiver}', '#{address_book.name}', #{address_book.zonecode}, '#{address_book.address}', '#{address_book.address_detail}', '#{address_book.phone_number}', '#{address_book.id}')" %>
    <% end %>
  </div>
</div>
<div class="col-md-4 purc_delivery mb_line_break_reverse">
  <%= button_tag "배송지저장하기", type: "button", id: "saveAddressBook", class: "btn session_btn" %>
</div>
<!-- mb -->
<div class="col-md-6 mb_line_break no-gap" style="margin-top: 0px;padding: 0px;">
  <%= button_tag "배송지저장하기", type: "button", id: "saveAddressBook", class: "btn session_btn", style: "width:100%;" %>
</div>
<!-- mb -->
<div class="col-md-6 no-gap pd_mg">
  <div class="form-group">
    <label for="user_이름">배송지 명</label><br>
    <input class="form-control check" placeholder="이름을 입력해주세요" type="text" value="" name="[address_book]name" id="address_book_name">
  </div>

  <div class="form-group">
    <label for="user_이름">수령인 명</label><br>
    <input class="form-control check" placeholder="이름을 입력해주세요" type="text" value="" name="[address_book]receiver" id="receiver">
  </div>

  <div class="form-group purc_phone_form form-inline">
    <label for="user_이름">수령인 연락처</label><br>
    <input class="form-control purc_phone" type="text" value="" name="[address_book]phone_number1" id="phone_number1" maxlength="4">
    <input class="form-control purc_phone" type="text" value="" name="[address_book]phone_number2" id="phone_number2" maxlength="4">
    <input class="form-control purc_phone" type="text" value="" name="[address_book]phone_number3" id="phone_number3" maxlength="4">
  </div>
</div>

<div class="col-md-8 no-gap form-group">
  <div class="col-md-6 no-gap">
    <label for="user_이름">배송주소</label><br>
    <input class="form-control check" placeholder="우편번호" type="text" name="[address_book]zonecode" id="zonecode" value="" >
  </div>
  <div class="col-md-6 purc_delivery mb_line_break_reverse">
    <label class="invisible" for="user_이름">배송주소</label><br>
    <%= button_tag "우편번호 검색", type: "button", onclick: "openPostSearch()", class: "btn session_btn" %>
  </div>
  <!-- mb -->
  <div class="col-md-6 no-gap mb_line_break" style="margin-top: 0px;padding: 0px;margin-bottom:15px;">
    <label class="invisible" for="user_이름">배송주소</label><br>
    <%= button_tag "우편번호 검색", type: "button", onclick: "openPostSearch()", class: "btn session_btn", style: "width: 100%" %>
  </div>
  <!-- mb -->
  <input class="form-control check" placeholder="기본 주소" type="text" value="" name="[address_book]address" id="address">
  <label class="invisible" for="user_이름">배송주소</label><br>
  <input class="form-control check" placeholder="상세 주소" type="text" value="" name="[address_book]address_detail" id="address_detail">
</div>

<div class="col-md-8 no-gap">
  <div class="form-group">
    <label for="demand_message">배송 요청사항</label><br>
    <!-- <select class="form-control">
      <option>배송시 요청사항을 선택하세요</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select> -->
    <input class="form-control" type="text" value="" maxlength="30" name="[address_book]demand_message" id="demand_message">
    <p id="showTypingLength" class="help-block text-right">0/30자</p>
  </div>
</div>

<div class="col-md-12 no-gap">
  <div class="form-group">
    <input type="checkbox" name="set_default" id="set_default" class="checkbox-style"/>
    <label for="set_default">기본 배송지로 설정합니다.</label>
  </div>
</div>

<%= hidden_field :address_book, :address_type %>
<%= hidden_field :address_book, :id %>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
  function openPostSearch() {
    new daum.Postcode({
      oncomplete: function(data) {
        var fullAddr = '';
        var extraAddr = '';

        if (data.userSelectedType === 'R') {
          fullAddr = data.roadAddress;
        } else {
          fullAddr = data.jibunAddress;
        }

        if(data.userSelectedType === 'R'){
          if (data.bname !== '') {
            extraAddr += data.bname;
          }

          if (data.buildingName !== '') {
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }

          fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
        }

        document.getElementById('zonecode').value = data.zonecode;
        document.getElementById('address').value = fullAddr;
        document.getElementById('address_book_address_type').value = data.userSelectedType;
        document.getElementById('address_detail').focus();
      }
    }).open();
  }

  function changePostInfo(receiver, name, zonecode, address, address_detail, phone_number, address_book_id) {
    document.getElementById('zonecode').value = zonecode;
    document.getElementById('address').value = address;
    document.getElementById('address_detail').value = address_detail;
    document.getElementById('phone_number1').value = phone_number.split('-')[0];
    document.getElementById('phone_number2').value = phone_number.split('-')[1];
    document.getElementById('phone_number3').value = phone_number.split('-')[2];
    document.getElementById('receiver').value = receiver;
    document.getElementById('address_book_name').value = name;
    document.getElementById('address_book_id').value = address_book_id;
  }

  $(document).on('click', '#saveAddressBook', function() {
    $.ajax({
      url: '/purchases/save_post',
      method: 'post',
      data: {
        zonecode: $('#zonecode').val(),
        address: $('#address').val(),
        address_detail: $('#address_detail').val(),
        phone_number: $('#phone_number1').val() + '-' + $('#phone_number2').val() + '-' + $('#phone_number3').val(),
        name: $('#address_book_name').val(),
        receiver: $('#receiver').val(),
        address_book_id: $('#address_book_id').val(),
        default: $('#set_default').prop("checked")
      },
      before_send: function() {
        $('#savePostInfo').prop("disabled", true);
      }
    }).done(function() {
      $('#savePostInfo').prop("disabled", false);
      alert('저장되었습니다');
    }).fail(function() {
      $('#savePostInfo').prop("disabled", false);
      alert('실패');
    });
  });

  $(document).on('keyup', '#demand_message', function() {
    $('#showTypingLength').text($(this).val().length + '/30자');
  });
</script>
