<div class="col-md-12 mb_line_break_reverse">
  <h3 class="basic_header">마이페이지</h3>
</div>
<div class="col-md-3 mb_line_break_reverse">
  <div class="col-md-12">
    <div class="col-md-4 no-gap">
      <%= image_tag current_user.image_profile.thumb, style: "border-radius:100%;width:60px;margin-top:15px;", alt: "" %>
    </div>
    <div class="col-md-8 no-gap">
      <h3><%= current_user.nickname %> 님</h3>
      <p class="detail">
      <%= current_user.email %>
      </p>
    </div>
  </div>
  <div class="col-md-12">
    <ul class="nav navmenu-nav">
      <li class="<%= 'ui-tabs-active ui-state-active' if current_page?(user_purchase_lists_path(current_user)) %>"><%= link_to "주문 조회", user_purchase_lists_path %></li>
      <li><a href="#tabs-2">교환/반품</a></li>
      <li><a href="#tabs-3">쿠폰</a></li>
      <li><a href="#tabs-3">장바구니</a></li>
      <li><a href="#tabs-3">위시 리스트</a></li>
      <li><a href="#tabs-3">상품 문의</a></li>
      <li><a href="#tabs-3">1:1문의</a></li>
      <li class="<%= 'ui-tabs-active ui-state-active' if current_page?(user_path(current_user)) %>"><%= link_to "회원 정보 관리", user_path(current_user) %></li>
      <li class="<%= 'ui-tabs-active ui-state-active' if current_page?(address_book_user_path) %>"><%= link_to "배송지 관리", address_book_user_path %></li>
      <li><a href="#tabs-4">인플루언서 신청</a></li>
    </ul>
  </div>
</div>
