<style type="text/css">
  .m-b-sm {
    margin-bottom: 10px;
  }
  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
  }
  .ibox-content {
    clear: both;
  }
</style>
<div class="container">
  <h3>7월 첫째주 인플루언서 랭킹</h3>
  <div class="col-md-12">
    <div class="col-md-1">순위</div>
    <div class="col-md-2">닉네임</div>
    <div class="col-md-1">판매지수</div>
    <div class="col-md-1">유입지수</div>
    <div class="col-md-3">스토어소개</div>
    <div class="col-md-4">스토어상품</div>
  </div>
  <% @influences.each_with_index do |p, i| %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1">
      <%= i+1 %>
      </div>
      <div class="col-md-2">
        <div class="ibox-content text-center">
          <div class="m-b-sm">
            <img alt="image" class="img-circle data-href" src="http://placehold.it/96x96"  data-href="<%= influence_path(p) %>">
          </div>
          <h4><%= link_to p.name, influence_path(p) %></h4>
          <div class="text-center">
            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
            <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <%= p.selling_point %>
      </div>
      <div class="col-md-1">
        <%= p.user_point %>
      </div>
      <div class="col-md-3">
        <%= p.desc %>
      </div>
      <div class="col-md-4">
      이성경의 ㅇ불라불라부라
      </div>
    </div>
  </div>
  <% end %>
  <h3>새로운 인플루언서</h3>
  <% @influences.each do |p| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/320x150" class="data-href" alt="" data-href="<%= influence_path(p) %>">
      <div class="caption">
        <h4><%= link_to p.name, influence_path(p) %></a>
        </h4>
        <p><%= p.desc %></p>
        <p><%= p.selling_point %></p>
        <p><%= p.user_point %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>