<div class="jumbotron">
  <img src="<%=@pro.img%>" width="100%">
  <h1><%=@pro.title%></h1>
  <p class="lead"><%=@pro.intro%></p>
  <p id="count"><%=@pro.avg.round(2)%>점 (<%=@pro.comments.count%> 명)</p>
  <%=form_tag "/home/ev", method: "post" do %>
    <input type="hidden" name="tv_id" value="<%=@pro.id%>">
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <br>
    <input type="text" class="form-control" name="msg" placeholder="별점 체크 후 평가를 남겨주세요!">
    <br>
    <button class="btn btn-success" href="#" role="button">평가하기</button>
  <%end%>
</div>

<div class="row">
  <div class="col-lg-12">
<div class="strike" style="margin-bottom:30px;font-size:16px;">
<span><a id="condition3" target="_blank" style="text-align:center;font-weight:300;"><i class="fa fa-smile-o fa-lg"></i> 당신은 어떻게 보셨나요? </a></span>
</div>
    <!-- 각 코멘트들 -->
    <% @pro.comments.each do |c| %>
    <div class="well">
      <span class="star-rating small">
        <% 1.upto(5) do |i| %>
          <% if i == c.score %>
            <i class="on"></i>
            <%else%>
            <i></i>
            <%end%>
        <% end %>
      </span>
      <p> <i class="fa fa-user"></i> <%=c.user_email%></p>
      <p> <i class="fa fa-comment"></i> <%=c.comment%> </p>

      <p class="user_comment" > <i class="fa fa-clock-o"></i> <%= time_ago_in_words(c.created_at) %> ago</p>
      <div class="user_reply">
        <% c.replies.each do |r| %>
        <i class="fa fa-arrow-circle-right"></i>
        <p>
                익명<%=r.id%> : <%= r.content %> <span class="text-right"><%=time_ago_in_words(r.created_at)%> ago</span><br>

        </p><br>
        <% end %>
      </div>

        <form action="/home/reply" type="POST" class="text-center">
            <input type="hidden" name="my_post_id" value="<%=c.id%>">
            <input type="text" class="form-control" name="myreply" placeholder="댓글을 달아주세요"><br>
            <button class="btn btn-primary" style="padding:14px 24px;" href="#" role="button">댓글달기</button>
        </form>
    </div>
    <% end %>
    <!-- 각 코멘트 끝 -->
  </div>
</div>
