<div class="jumbotron">
  <img src="<%=@pro.img%>" width="100%">
  <h1><%=@pro.title%></h1>
  <p class="lead"><%=@pro.intro%></p>
  <p id="count"><%=@pro.avg.round(2)%>점 (<%=@pro.comments.count%> 명)</p>
  <%=form_tag "/home/ev", method: "post" do %>
    <input type="hidden" name="tv_id" value="<%=@pro.id%>">
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <br>
    <input type="text" class="form-control" name="msg" placeholder="별점 체크 후 평가를 남겨주세요">
    <br>
    <button class="btn btn-success" href="#" role="button">평가하기</button>
  <%end%>
</div>

<div class="row">
  <div class="col-lg-12">
    <!-- 각 코멘트들 -->
    <% @pro.comments.each do |c| %>
    <div class="well">
      <span class="star-rating small">
        <% 1.upto(5) do |i| %>
          <% if i == c.score %>
            <i class="on"></i>
            <%else%>
            <i></i>
            <%end%>
        <% end %>
      </span>
      <p><%=c.user_id%> : <%=c.comment%> <%=c.created_at.in_time_zone("Seoul")%></p>

      <% c.replies.each do |r| %>
            <%= r.content %><br>
      <% end %>
        <form action="/home/reply" type="POST">
            <input type="hidden" name="my_post_id" value="<%=c.id%>">
            <input type="text" name="myreply">
            <input type="submit" value="달기"><br>
        </form>
    </div>
    <% end %>
    <!-- 각 코멘트 끝 -->
  </div>
</div>
