<%= render 'main_nav' %>
<div class="col-md-12 main_center_image no-gap">
  <div class="main_logo_div">
    <img class="main_logo" src="<%= image_url('logo_desktop.png')%> " alt="" />
  </div>
  <div class="main_service">
    <a href="/home/deals" class="menu_first active">DEALS</a>
    <a href="/home/influencer" class="menu_second">INFLUENCERS</a>
    <a href="/home/about" class="menu_third">ABOUT</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 no-gap main_slide">
      <%= render 'image_slide' %>
    </div>
    <div class="col-md-12 main_sub_image_first">
    </div>

    <div class="col-md-6 main_sub_image">
      <div class="col-md-12">

      </div>
    </div>

    <div class="col-md-6 main_sub_image">
      <div class="col-md-12">

      </div>
    </div>

    <div class="col-md-6 card_guide">
      <div class="col-md-5">
        <img style="width:100%" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="" />
      </div>
      <div class="col-md-7 no-gap">
        <h3 class="product"> 문지르지 않아도 되는 수분 보습 각질제거팩</h3>
        <p class="price">12,000 won
        </p>
        <p class="detail">
          튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 그들은 날카로우니 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다.
        </p>
        <div class="">
          <a href="#"><img src="<%=image_url('icon_btn_cart.png')%>" alt="" /></a>
          <a href="#"><img src="<%=image_url('icon_btn_wish_list.png')%>" alt="" /></a>
        </div>
      </div>
    </div>


    <div class="col-md-6 card_guide">
      <div class="col-md-5">
        <img style="width:100%" src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="" />
      </div>
      <div class="col-md-7 no-gap">
        <h3 class="product"> 문지르지 않아도 되는 수분 보습 각질제거팩</h3>
        <p class="price">12,000 won
        </p>
        <p class="detail">
          튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 그들은 날카로우니 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다.
        </p>
        <div class="">
          <a href="#"><img src="<%=image_url('icon_btn_cart.png')%>" alt="" /></a>
          <a href="#"><img src="<%=image_url('icon_btn_wish_list.png')%>" alt="" /></a>
        </div>
      </div>
    </div>



  </div>
</div>

<script type="text/javascript">
$(window).load(function(){
  ServiceSize(); // 3메뉴 조정
});

function ServiceSize() {
  var standard_width = parseInt($('.main_center_image').width())/2;
  standard_width = standard_width - parseInt($('.main_service').width())/2 - 20;
  $('.main_service').css('left',standard_width);
}
</script>
