<div class="container purc_ready my_page">
  <div class="row" id="tabs">
    <%= render "shared/user_info_tab" %>

    <div class="col-md-9 no-gap" style="padding-top:50px;">
      <div class="col-md-12">
        <!--desktop-->
        <div class="mb_line_break_reverse">
          <table class="table table-hover tb_inf_prdt tb_mp_delivery" style="border-collapse: separate;border-spacing: 0 20px;">
            <tbody>
              <% @purchase_lists.each do |purchase_list| %>
                <tr>
                  <th class="tb_mp_delivery_image" scope="row">
                    <%= link_to purchase_list_path(purchase_list) do %>
                      <%= image_tag purchase_list.purchase_items.first.product.image_basic.thumb, style: 'width:140px;height:140px;' %>
                    <% end %>
                  </th>
                  <td class="tb_mp_delivery_name text-left">
                    <p class="tb_mp_delivery_name_header">
                      <%= link_to purchase_list_path(purchase_list) do %>
                        <%= purchase_list.purchase_items.first.product.name %> <%= purchase_list.purchase_items.size > 1 ? "외 #{purchase_list.purchase_items.size}건" : "" %>에 대한 주문
                      <% end %>
                    </p>
                    <div class="col-md-2 no-gap">
                      <p class="header_spec">결제 금액</p>
                      <p class="header_spec">주문일</p>
                    </div>
                    <div class="col-md-4 no-gap">
                      <p class="header_spec_sub"><%= purchase_list.purchase_items.inject(0){ |sum, item| sum += item.product.price } %>원</p>
                      <p class="header_spec_sub"><%= purchase_list.created_at.strftime("%Y-%m-%d") %></p>
                    </div>
                  </td>
                  <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;"> <%= link_to purchase_list.status, "#", class: "btn session_btn big_session_btn width_full", style: "margin-bottom:0px;", disabled: "true" %> </td>
                </tr>
              <% end %>
              <% if @purchase_lists.blank? %>
                구매내역이 없습니다
              <% end %>
            </tbody>
          </table>
        </div>
        <!--desktop-->

        <!-- mb -->
        <div class="mb_line_break">
          <% @purchase_lists.each do |purchase_list| %>
            <table class="table tb_inf_prdt_mb tb_inf_prdt_big_mb table-hover">
              <tbody>
                <tr>
                  <th scope="row">
                    <%= link_to purchase_list_path(purchase_list) do %>
                      <%= image_tag purchase_list.purchase_items.first.product.image_basic.thumb %>
                    <% end %>
                  </th>
                  <td>
                    <span class="tb_inf_prdt_brand"><%= purchase_list.purchase_items.first.product.brand %></span><br>
                    <span class="tb_inf_prdt_name">
                      <%= link_to purchase_list_path(purchase_list) do %>
                        <%= purchase_list.purchase_items.first.product.name %> <%= purchase_list.purchase_items.size > 1 ? "외 #{purchase_list.purchase_items.size}건" : "" %>에 대한 주문
                      <% end %>
                    </span><br>
                    <span class="tb_inf_prdt_number"><%= purchase_list.purchase_items.first.option %></span><br>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="tb_inf_prdt_sub">
                    <span class="tb_inf_prdt_price tb_inf_prdt_sub_sub">신청일</span><br>
                    <span class="tb_inf_prdt_number"><%= purchase_list.created_at.strftime("%Y-%m-%d") %></span>
                  </th>
                  <td>
                    <span class="tb_inf_prdt_price tb_inf_prdt_sub_sub">배송중</span><br>
                    <span class="tb_inf_prdt_number"><%= purchase_list.status %> <%= purchase_list.destination.tracking_number %> </span>
                  </td>
                </tr>
                <tr>
                  <td scope="row" colspan="2">
                    <%= link_to "사용 정보 입력", "#", class: "btn session_btn width_full_mb", disabled: "true", style: "margin-bottom:0px;" %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
        <!-- mb -->
      </div>
    </div>
  </div>
</div>
