<div class="container purc_ready my_page">
  <div class="row" id="tabs">
    <%= render "shared/user_info_tab" %>

    <div class="col-md-9 no-gap" style="padding-top:50px;">
      <div id="tabs-1">
        <div class="col-md-12">
          <%= link_to "< 주문 목록 돌아가기", user_purchase_lists_path, class: "btn session_btn", style: "margin-top:20px;" %>
        </div>
        <div class="col-md-12 tb_mp_spec_info_parent_pd">
          <!--desktop&mb hybrid-->
          <div class="tb_mp_spec_info_parent" style="">
            <table class="table  tb_mp_delivery tb_mp_spec_info">
              <tbody>
                <tr>
                  <th colspan="2">
                    <h3 class="tb_mp_spec_info_header text-left"><%= @purchase_list.purchase_items.first.product.name %> <%= @purchase_list.purchase_items.size > 1 ? "외 #{@purchase_list.purchase_items.size}건" : "" %>에 대한 주문</h3>
                  </th>
                </tr>
                <tr class="mb_line_break_reverse">
                  <td class="tb_mp_delivery_name text-left">
                    <div class="col-md-2 no-gap">
                      <p class="header_spec">주문 번호</p>
                      <p class="header_spec">결제 금액</p>
                      <p class="header_spec">주문일</p>
                    </div>
                    <div class="col-md-4 no-gap">
                      <p class="header_spec_sub"><%= @purchase_list.id %></p>
                      <p class="header_spec_sub"><%= @purchase_list.purchase_items.inject(0){ |sum, item| sum += item.product.price } %>원</p>
                      <p class="header_spec_sub"><%= @purchase_list.created_at.strftime("%Y-%m-%d") %></p>
                    </div>
                  </td>
                  <td class="tb_mp_delivery_choose" style="width:20%;">
                    <a href="#" class="btn session_btn big_session_btn width_full" style="margin-bottom:0px;"> <%= @purchase_list.status %></a>
                  </td>
                </tr>

                <tr class="mb_line_break_tb_row">
                  <td class="tb_mp_delivery_name" colspan="2">
                      <div class="col-xs-3 no-gap">
                        <p class="header_spec">주문 번호</p>
                        <p class="header_spec">결제 금액</p>
                        <p class="header_spec">주문일</p>
                      </div>
                      <div class="col-xs-5 no-gap">
                        <p class="header_spec_sub"><%= @purchase_list.id %></p>
                        <p class="header_spec_sub"><%= @purchase_list.purchase_items.inject(0){ |sum, item| sum += item.product.price } %>원</p>
                        <p class="header_spec_sub"><%= @purchase_list.created_at.strftime("%Y-%m-%d") %></p>
                      </div>
                  </td>
                </tr>
                <tr class="mb_line_break_tb_row tb_mp_delivery_mb">
                  <td scope="row" colspan="2" class="tb_mp_delivery_mb_btn">
                    <a href="#" class="btn session_btn_black width_full" style="margin-bottom:0px;"> <%= @purchase_list.status %><br/></a>
                  </td>
                </tr>

                <tr>
                  <table class="table tb_mp_spec_info_nested">
                    <tbody>
                      <tr>
                        <th cols="2">
                          <p class="nested_menu text-left">
                            주문 상품 정보
                          </p>
                        </th>
                      </tr>
                      <% @purchase_list.purchase_items.each do |item| %>
                      <tr>
                        <th scope="row" style="width:20%"><%= image_tag item.product.image_basic %></th>
                        <td>
                          <span class="tb_brand"><%= item.product.brand %></span><br> <p class="tb_name"><%= item.product.name %></p>
                          <span class="tb_option">옵션 : <%= item.option %></span> <span class="tb_price"><%= item.product.price %> 원</span>
                          <p><%= item.quantity %>개</p>
                        </td>
                        <td>
                          <% if item.shipping_tracking %>
                            <p> <%= button_tag item.shipping_tracking.number, type: "button", class: "btn btn-default tracking-btn", data: {number: item.shipping_tracking.number, company: item.shipping_tracking.shipping_company} %> </p>
                            <p> <%= item.shipping_tracking.shipping_company %> </p>
                            <p> <%= item.shipping_tracking.shipping_type %> </p>
                          <% end %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </tr>

                <tr>
                  <table class="table tb_mp_delivery tb_mp_spec_info">
                    <tbody>
                      <tr>
                        <td colspan="2">
                          <div class="col-md-6 no-gap">
                            <p class="nested_menu" style="margin-bottom:30px;">
                              배송 정보
                            </p>
                            <div class="col-xs-4 text-left no-pd_right_mb">
                              <p class="header_spec">받는 사람</p>
                              <p class="header_spec">연락처</p>
                              <p class="header_spec">주소</p>
                            </div>
                            <div class="col-xs-8 text-left no-gap">
                              <% if @purchase_list.destination %>
                                <p class="header_spec_sub"><%= @purchase_list.destination.receiver %></p>
                                <p class="header_spec_sub"><%= @purchase_list.destination.phone_number ? @purchase_list.destination.phone_number : @purchase_list.destination.tel %></p>
                                <p class="header_spec_sub"><%= @purchase_list.destination.address %> <%= @purchase_list.destination.address_detail %></p>
                              <% end %>
                            </div>
                            <div class="col-md-6 col-md-offset-6 text-right no-gap_mb">
                              <%= link_to "배송 정보 변경", "#", class: "btn session_btn width_full", disabled: "true", style: " margin-top:30px;" %>
                            </div>
                          </div>
                          <div class="col-md-6 no-gap">
                            <p class="nested_menu" style="margin-bottom:30px;">
                             결제 정보
                            </p>
                            <div class="col-xs-6 no-pd_left_mb text-left">
                              <p class="header_spec">총 상품 금액</p>
                              <p class="header_spec">배송비</p>
                              <p class="header_spec">할인</p>
                            </div>
                            <div class="col-xs-6 no-gap_mb text-right">
                              <p class="header_spec_sub"><%= total_price = sum_purchase_price(@purchase_list) %>원</p>
                              <p class="header_spec_sub"><%=
                               total_shipping_expenses = sum_purchase_shipping_expenses(@purchase_list)  %>원</p>
                              <p class="header_spec_sub"><%= total_discount = sum_purchase_discount(@purchase_list) %>원</p>
                            </div>
                            <div class="col-md-12 no-gap_mb">
                              <hr style="border: 1px solid #979797;">
                            </div>
                            <div class="col-xs-4 text-left no-pd_left_mb">
                              <p class="header_spec"> <strong>최종결제금액</strong></p>
                            </div>
                            <div class="col-xs-8 text-right no-gap_mb">
                              <p class="header_spec_sub"><strong><%= total_price + total_shipping_expenses - total_discount %>원</strong></p>
                            </div>

                            <div class="col-md-6 col-md-offset-6 text-right no-gap_mb">
                              <%= link_to "교환/반품 신청", "#", class: "btn session_btn_black width_full", style: " margin-top:50px;", disabled: true %>
                            </div>
                            <div class="col-md-6 no-gap_mb">
                              <%= link_to "현금영수증출력", "#", class: "btn session_btn width_full", disabled: true %>
                            </div>
                            <div class="col-md-6 no-gap_mb">
                              <%= link_to "거래명세서출력", "#", class: "btn session_btn width_full", disabled: true %>
                            </div>

                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
              </tbody>
            </table>
          </div>
          <!--desktop&mb hybrid-->
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<div id="trackingDialog" title="배송조회">
  <p id="result"></p>
  <p id="senderName"></p>
  <p id="receiverName"></p>
  <p id="itemName"></p>
  <p id="invoiceNo"></p>
  <p id="receiverAddr"></p>
  <p id="orderNumber"></p>
  <p id="estimate"></p>
  <p id="Level"></p>
  <p id="Complete"></p>
  <p id="recipient"></p>
  <p id="itemImage"></p>
</div>

<script type="text/javascript">
  $(document).on('click', '.tracking-btn', function() {
   // , '일양로지스': '11', 'EMS': '12', 'DHL': '13', 'UPS': '14', 'GTX로지스': '15', '한의사랑택배': '16', '천일택배': '17', '건영택배': '18', 'FedEx': '21', '대신택배': '22', '경동택배': '23', 'CVSnet 편의점택배': '24', 'TNT Express': '25', 'USPS': '26', 'GSMNtoN(인로스)': '28', '에어보이익스프레스': '29', '합동택배': '32', 'DHL Global Mail': '33','i-Parcel': '34', '쿠팡 로켓배송': '36', '범한판토스': '37', 'KG로지스': '39', '굿투럭': '40';
    var companyList = {'post': '01' , 'cj': '04' , 'hanjin': '05' , 'logen': '06' , 'KGD': '07' , 'hyundai': '08' , 'KGY': '09' , 'KGB': '10'};

    $.ajax({
      url: '/user/purchase_lists/tracking',
      method: 'get',
      data: {
        company: companyList[$(this).data('company')],
        number: $(this).data('number')
      }
    }).done(function(response) {
      for(var key in response) {
        $('#' + key).text(key + ': ' + response[key]);
      }

      $('#trackingDialog').dialog();
      console.log(response);
    }).fail(function(response) {
      console.log(response);
    });
  });
</script>
