<div class="container inf_admin">
  <div class="row inf_admin_header no-margin_mb" style="border-bottom:none;">
    <div class="col-md-12 mb_line_break_reverse no-gap">
      <h3 class="basic_header">워너비 레터 관리</h3>
    </div>
  </div><!-- .row -->

  <div class="row search_applied_prdt no-margin_mb">
    <div class="col-md-12 no-gap_mb">
      <h3 class="inf_admin_sub_header">조회 옵션</h3>
    </div>
    <div class="col-md-12 no-gap_mb form-horizontal my_page">
      <div class="col-md-5 col-xs-10 no-gap form-group name_email_change">
        <%= form_for cms_wannabe_letters_path, html: {class: "", method: :get} do |f|  %>
          <label for="user_이름" class="col-xs-3 control-label" style="padding-top:10px;">상태</label>
          <div class="col-xs-9" style="margin-bottom:15px;">
            <%= select_tag :status, options_for_select([["답장대기", "0"], ["거절/신고", "1"], ["답변완료", "2"]], params[:status]), include_blank: "전체", class: "form-control" %>
          </div>
          <label for="user_이름" class="col-xs-3 control-label" style="padding-top:10px;">답장기한</label>
          <div class="col-xs-5">
            <%= text_field_tag :reply_date, params[:reply_date], class: "form-control", placeholder: "날짜를 입력하세요" %>
          </div>
          <div class="col-xs-4">
            <%= button_tag "검색", type: "submit", class: "btn session_btn_black width_full_mb", style: "margin-bottom:0px;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-12 no-gap_mb">
      <table class="table tb_wannabe" style="border-collapse: separate;border-spacing: 0 20px;">
        <tbody>
          <% @wannabe_letters.each_with_index do |wannabe_letter, i| %>
            <tr>
              <th class="tb_wannabe_status" scope="row">
                <p class="tb_wannabe_status_no"><%= @wannabe_letters.size - i %></p>
                <p class="tb_wannabe_status_current"><%= wannabe_letter.status %></p>
                <p class="tb_wannabe_status_date"><%= wannabe_letter.until_reply_date.strftime("%Y-%m-%d") %><br>
                <%= wannabe_letter.until_reply_date.strftime("%H:%M") %> 까지</p>
              </th>
              <td class="tb_wannabe_text">
                <div class="tb_inf_wannabe_back_color">
                  <span class="tb_wannabe_text_user"><%= wannabe_letter.purchase_list.user.nickname %> 님 (<%= wannabe_letter.purchase_list.user.email %>)</span><br>
                  <span><%= wannabe_letter.content %></span>
                </div>
              </td>
              <td class="tb_wannabe_textarea text-center">
                <%= text_area :wannabe_letter, :reply, cols: 40, value: wannabe_letter.reply, disabled: wannabe_letter.status == "report" ? true : false, data: {id: wannabe_letter.id} %>
              </td>
              <td class="tb_wannabe_btn">
                <%= button_tag "답장 거절 / 신고", name: "updateStatus", type: "button", class: "btn session_btn width_full", style: "background:#b2b2b2", data: {id: wannabe_letter.id, status: "report"}, disabled: wannabe_letter.status == "report" ? true : false %><br>
                <%= button_tag "답장 등록", name: "updateReply", type: "button", class: "btn session_btn_black width_full", data: {id: wannabe_letter.id} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div><!-- .row -->
</div>

<script>
  $(document).on('click', 'button[name=updateStatus]', function() {
    $.ajax({
      url: '/cms/wannabe_letters/' + $(this).data('id'),
      method: 'patch',
      data: {
        status: $(this).data('status')
      }
    }).done(function() {
      alert('신고되었습니다');
    }).fail(function() {
      alert('업데이트 실패');
    });
  });

  $(document).on('click', 'button[name=updateReply]', function() {
    $.ajax({
      url: '/cms/wannabe_letters/' + $(this).data('id'),
      method: 'patch',
      data: {
        reply: $('textarea[data-id="' + $(this).data('id') + '"]').val()
      }
    }).done(function(response) {
      location.reload();
      alert('답변이 등록되었습니다');
    }).fail(function() {
      alert('등록 실패');
    });
  });

  $(document).ready(function() {
    $('#reply_date').datetimepicker({format: 'YYYY-MM-DD HH:mm'});
  });
</script>
