<div class="container purc_ready my_page">
  <div class="row" id="tabs">
    <%= render "shared/user_info_tab" %>

    <div class="col-md-9 no-gap" style="padding-top:50px;">
      <div class="col-md-12">
        <!--desktop-->
        <div class="mb_line_break_reverse">
          <table class="table table-hover tb_inf_prdt tb_mp_delivery" style="border-collapse: separate;border-spacing: 0 20px;">
            <tbody>
              <% @purchase_lists.each do |purchase_list| %>
                <tr>
                  <th class="tb_mp_delivery_image" scope="row">
                     <%=image_tag purchase_list.purchase_items.first.product.image_basic.thumb, style: 'width:140px;height:140px;' %>
                   </th>
                  <td class="tb_mp_delivery_name text-left">
                    <p class="tb_mp_delivery_name_header">[<%= purchase_list.purchase_items.first.product.brand %>] <%= purchase_list.purchase_items.first.product.name %>  <%= check_purchase_case(purchase_list) %>에 대한 주문</p>
                    <div class="col-md-2 no-gap">
                      <p class="header_spec">신청일</p>
                    </div>
                    <div class="col-md-4 no-gap">
                      <p class="header_spec_sub"><%= purchase_list.created_at.strftime("%Y년 %m월 %d일") %></p>
                    </div>
                  </td>
                  <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
                    <a href="#" class="btn session_btn btn_white big_session_btn width_full" style="margin-bottom:0px;"> <%= purchase_list.status %></a>
                  </td>
                  <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
                    <%= link_to "선택", return_path(purchase_list), class: "btn  session_btn_black width_full", style: "margin-bottom:0px;" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!--desktop-->

        <!-- mb -->
        <div class="mb_line_break">
          <table class="table tb_inf_prdt_big_mb tb_mp_delivery_mb">
            <tbody>
              <tr>
                <th scope="row" colspan="2" class="tb_mp_delivery_mb_header">
                  [챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문
                </th>
              </tr>
              <tr>
                <th scope="row" class="text-left">
                  <%= image_tag "https://placehold.it/96x96", style: "width:96px;height:96px;float:left"%>
                </th>
                <td>
                  <p class="tb_mp_delivery_mb_text"><span>신청일</span> 2016년 8월 8일</p>
                </td>
              </tr>
              <tr>
                <td scope="row" colspan="2">
                  <%= link_to "교환 신청 접수", "#", class: "btn session_btn width_full_mb btn_white", style: "margin-bottom:0px;" %>
                </td>
              </tr>
            </tbody>
          </table><!-- table sample1 -->


          <table class="table tb_inf_prdt_big_mb tb_mp_delivery_mb">
            <tbody>
              <tr>
                <th scope="row" colspan="2" class="tb_mp_delivery_mb_header">
                  [챔스] 베이직 로고 크롭 티셔츠 / 블루-화이트  외 3건에 대한 주문
                </th>
              </tr>
              <tr>
                <th scope="row" class="text-left">
                  <%= image_tag "https://placehold.it/96x96", style: "width:96px;height:96px;float:left"%>
                </th>
                <td>
                  <p class="tb_mp_delivery_mb_text"><span>신청일</span> 2016년 8월 8일</p>
                </td>
              </tr>
              <tr>
                <td scope="row" colspan="2">
                  <%= link_to "반품 수거중", "#", class: "btn session_btn width_full_mb btn_white", style: "margin-bottom:0px;" %>
                </td>
              </tr>
            </tbody>
          </table><!-- table sample1 -->

        </div>
        <!-- mb -->
      </div>
    </div>
  </div>
</div>
