<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1679045795749981',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>
<div class="container sign_up sign_up_process sign_in">
  <div class="row">
    <div class="col-md-12 mb_line_break_reverse">
      <h3 class="header">로그인</h3>
    </div>
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :'이메일' %><br />
          <%= f.email_field :email, class: "form-control check",placeholder: "이메일을 입력해주세요", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :'비밀번호' %>
          <%= f.password_field :password, class: "form-control check", placeholder: "패스워드를 입력해주세요", autocomplete: "off" %>
        </div>

        <div class="col-md-12 no-gap actions mb_line_break_reverse">
          <p class="find_acc"><%= link_to "비밀번호 찾기", new_password_path(resource_name) %>
          <%= f.submit "로그인", class:"session_btn btn login_btn" %></p>
        </div>

        <div class="col-md-12 no-gap actions mb_line_break">
          <p class="find_acc_mb"><%= link_to "비밀번호 찾기", new_password_path(resource_name) %>
          <%= f.submit "로그인", class:"session_btn btn login_btn" %></p>
        </div>
      <% end %>
    </div><!-- col-md-6 -->

    <div class="col-md-6 text-center sign_sns">
      <h4>SNS로 로그인</h4>
      <div class="col-md-12 no-gap">
        <%= link_to "#", class: "btn", onclick: "javascript:checkLoginState();" do %>
          <%= image_tag "login_facebook_d.png", style: "width:100%;max-width:319px;" %>
        <% end %>
        </a>
      </div>

      <div class="col-md-12 no-gap">
        <a href="#" class="btn" onclick="javascript:alert('준비 중입니다');">
          <%= image_tag "login_naver_d.png", style: "width:100%;max-width:319px;" %>
        </a>
      </div>
      <!-- <div id="naver_id_login" class="col-md-12 no-gap"></div> -->
    </div><!-- col-md-6 -->

    <div class="col-md-12 sign_in_bottom text-center">
      <h5 class="mb_line_break_reverse">또는</h5>
      <h4 class="mb_line_break_reverse">아직 트렌디스트에 가입하지 않으셨다면</h4>
      <div class="col-md-12">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
        <%= link_to "회원 가입", new_user_registration_path, class: "btn session_btn_black" %>
      </div>
    </div>

  </div>
</div>

<!-- <script src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.2-min.js" charset="utf-8"></script> -->
<script type="text/javascript">
  // var naver_id_login = new naver_id_login("vefBL96QvcaMUeJyklAK", "http://127.0.0.1:3000/users/sign_in");
  // var state = naver_id_login.getUniqState();
  // naver_id_login.setButton("green", 3, 50);
  // // naver_id_login.setDomain("127.0.0.1");
  // // naver_id_login.setPopup(); //Popup형태의 인증 진행
  // naver_id_login.setState(state);
  // naver_id_login.init_naver_id_login();

  // function naverSignIn() {
  //   // 네이버 사용자 프로필 조회
  //   naver_id_login.get_naver_userprofile("naverSignInCallback()");
  // }

  // function naverSignInCallback() {
  //   console.log(inner_profileParams);
  // }
</script>
