<style>
.sign_in .col-md-6:nth-child(2) {
  margin-top:0px;
  padding:0px;
}
input[type=checkbox] {
    display: none;
}
.pd_mg {
  margin-top:0px !important;
  padding:0px !important;
}

input[type=checkbox] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    line-height: 20px;
    font-size: 13px;
}

input[type=checkbox]+ label:before {
    top: 0px;
    content: "";
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type=checkbox]:checked + label:before {

    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    font-weight:800;
    color: #fff;
    background:#212121;
    text-align: center;
    line-height: 20px;

}
</style>
<div class="container shopping_list">
  <div class="row mb_line_break_reverse">
    <div class="col-md-12">
      <h3 class="basic_header">장바구니</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <!-- desktop -->
        <div class="mb_line_break_reverse tb_desk">
          <table class="table table-hover tb_purc">
            <thead>
              <tr>
                <th class="text-center">
                  <div class="checkbox">
                    <input type="checkbox" id="check1" class="checkbox-style"/>
                    <label for="check1" style="margin-top:5px;"></label>
                  </div>
                </th>
                <th>&nbsp;</th>
                <th class="tb_purc_name">상품명</th>
                <th class="tb_purc_shipping">배송비</th>
                <th class="tb_purc_price">상품 가격</th>
                <th class="tb_purc_quantity">수량</th>
                <th class="tb_purc_delete">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="tb_purc_check">
                  <div class="checkbox">
                    <input type="checkbox" id="check1" class="checkbox-style"/>
                    <label for="check1"></label>
                  </div>
                </th>
                <th class="tb_purc_image" scope="row"> <%= image_tag('product_thmb_1.jpg', style: "width:100px;height:100px;") %> </th>
                <td class="tb_purc_name"><h5>item_name</h5><p>옵션 : S</p></td>
                <td class="tb_purc_shipping">2,500 원</td>
                <td class="tb_purc_price">10,000 원</td>
                <td class="tb_purc_quantity">
                  <div class="form-group">
                    <input class="form-control check" type="text" value="" name="receiver" id="receiver">
                  </div>
                </td>
                <td class="tb_purc_delete"> <a href="#"><%= image_tag 'cart_delete_d' %></a> </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th class="tb_purc_check">
                  <div class="checkbox">
                    <input type="checkbox" id="check1" class="checkbox-style"/>
                    <label for="check1"></label>
                  </div>
                </th>
                <th class="tb_purc_image" scope="row"> <%= image_tag('product_thmb_1.jpg', style: "width:100px;height:100px;") %> </th>
                <td class="tb_purc_name"><h5>item_name</h5><p>옵션 : S</p></td>
                <td class="tb_purc_shipping">2,500 원</td>
                <td class="tb_purc_price">10,000 원</td>
                <td class="tb_purc_quantity">
                  <div class="form-group">
                    <input class="form-control check" type="text" value="" name="receiver" id="receiver">
                  </div>
                </td>
                <td class="tb_purc_delete"> <a href="#"> <%= image_tag 'cart_delete_d' %></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- desktop -->
      </div>
      <!-- mb -->
      <div class="mb_line_break tb_mb">
        <table class="table table-hover tb_purc_mb">
          <thead>
            <tr> <th>&nbsp;</th> <th>&nbsp;</th> </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" colspan="2" class="tb_purc_header_mb">
                <div class="checkbox">
                  <input type="checkbox" id="check2" class="checkbox-style tb_purc_check_mb"/>
                  <label for="check2" class="tb_purc_name_mb">[챔스] 베이직 로고 크롭 티셔츠 /<br> 블루-화이트</label>
                </div>
              </th>
            </tr>
            <tr>
              <th scope="row"> <img src="https://placehold.it/75x75"> </th>
              <td class="tb_purc_spec_mb">
                <p class="help-block">옵션 : S<br> 36,000 원&nbsp;&nbsp;2,500 원
                <a href="#"><%= image_tag 'cart_delete_m' %></a> </p>
                <div class="col-md-12 no-gap">
                  <div class="form-group">
                    <select class="form-control" style="width:50%;">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row" colspan="2" class="tb_purc_header_mb">
                <div class="checkbox">
                  <input type="checkbox" id="check2" class="checkbox-style tb_purc_check_mb"/>
                  <label for="check2" class="tb_purc_name_mb">[챔스] 베이직 로고 크롭 티셔츠 /<br> 블루-화이트</label>
                </div>
            </tr>
            <tr>
              <th scope="row"> <img src="https://placehold.it/75x75"> </th>
              <td class="tb_purc_spec_mb">
                <p class="help-block">옵션 : S<br> 36,000 원&nbsp;&nbsp;2,500 원
                <a href="#"><%= image_tag 'cart_delete_m' %></a> </p>
                <div class="col-md-12 no-gap">
                  <div class="form-group">
                    <select class="form-control" style="width:50%;">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- mb -->
    </div><!-- col-md-12 -->

    <!-- desktop -->
    <div class="row specific_detail mb_line_break_reverse">
      <div class="col-md-12" style="margin-top:30px;">
        <div class="col-md-12">
          <div class="col-md-3">
            <a href="#" class="btn session_btn">선택 삭제</a>
          </div>
          <div class="col-md-9 text-right">
            <p>
              <strong>상품 가격</strong> <span>78,900 원</span>
              <strong>+</strong><br class="mb_line_break">
              <strong>배송비</strong>
              <span>2,500 원</span><br class="mb_line_break">
              <strong>=</strong>
              <strong>78,900 원</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- desktop -->

    <!-- mb -->
    <div class="row specific_detail_mb mb_line_break">
      <div class="col-md-12 seperate_line">
        <hr>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <a href="#" class="btn session_btn">전체 선택</a>
          <a href="#" class="btn session_btn">선택 삭제</a>
        </div>
        <div class="col-md-9 price_result_mb">
          <p>
            <strong>총 상품 금액</strong> <span>78,900 원</span>
            <br class="mb_line_break">
            <strong>배송비</strong>
            <span>2,500 원</span><br class="mb_line_break">
          </p>
        </div>
        <div class="col-md-12 seperate_line_result">
          <hr>
        </div>
        <div class="col-md-9 price_result_mb">
          <p>
            <strong>최종 결제 금액</strong> <span>73,510 원</span>
          </p>
        </div>
      </div>
    </div>
    <!-- mb -->
    <div class="col-md-12">
      <div class="col-md-12 go_purc">
        <a href="#" class="btn session_btn_black">주문 하기</a>
      </div>
    </div>
  </div>
</div>
