<!-- insta_feed desk -->
<div class="col-md-12 insta_feed_desk_parent no-gap mb_line_break_reverse">
  <div class="insta_feed_desk">
    <div class="slide">
      <%= image_tag ('selfie_1.png'), style: "width:245px;height:245px"%>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <%= image_tag ('selfie_3.png'), style: "width:245px;height:245px"%>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <%= image_tag ('selfie_5.png'), style: "width:245px;height:245px"%>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <%= image_tag ('selfie_6.png'), style: "width:245px;height:245px"%>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <%= image_tag ('selfie_7.png'), style: "width:245px;height:245px"%>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
  </div>
</div><!-- desk insta feed -->

<div class="col-md-12 insta_feed_mb_parent no-gap mb_line_break">
  <div class="insta_feed_mb">
    <div class="slide">
      <img src="http://placehold.it/245x245&text=Insta1">
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <img src="http://placehold.it/245x245&text=Insta1-1">
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <img src="http://placehold.it/245x245&text=Insta2">
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <img src="http://placehold.it/245x245&text=Insta3">
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <img src="http://placehold.it/245x245&text=Insta4">
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
    <div class="slide">
      <img src="http://placehold.it/245x245&text=Insta5">
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-heart"></i> 좋아요 653개</p>
      </div>
      <div class="col-xs-6 no-gap">
        <p class="insta"> <i class="fa fa-comment fa-flip-horizontal"></i> 댓글 6개</span></p>
      </div>
    </div>
  </div>
</div><!-- mobile insta feed-->
