<!-- wannabe_letter_desk -->
<div class="col-md-12 wannabe_letter_desk_parent no-gap mb_line_break_reverse">
  <div class="wannabe_letter_desk">
    <% @influencer_store.wannabe_letters.each do |wannabe_letter| %>
      <div class="slide">
        <div class="wnb_letter_div">
          <div class="col-xs-11 wnb_letter_customer">
            <p><%= wannabe_letter.purchase_list.user.nickname %>(<%= wannabe_letter.purchase_list.user.email %>)</p>
            <span><%= wannabe_letter.content %></span>
          </div>
          <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
            <p><%= @influencer_store.user.nickname %>(<%= @influencer_store.user.email %>)</p>
            <span><%= wannabe_letter.reply %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- wannabe_letter_desk -->


<!-- wannabe_letter_mb -->
<div class="col-md-12 col-xs-12 wannabe_letter_mb_parent no-gap mb_line_break">
  <div class="wannabe_letter_mb">

    <% @influencer_store.wannabe_letters.each do |wannabe_letter| %>
      <div class="slide">
        <div class="wnb_letter_div">
          <div class="col-xs-11 wnb_letter_customer">
            <p><%= wannabe_letter.purchase_list.user.nickname %>(<%= wannabe_letter.purchase_list.user.email %>)</p>
            <span><%= wannabe_letter.content %></span>
          </div>
          <div class="col-xs-11 col-xs-offset-1 wnb_letter_inf">
            <p><%= @influencer_store.user.nickname %>(<%= @influencer_store.user.email %>)</p>
            <span><%= wannabe_letter.reply %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- wannabe_letter_mb -->


<!-- wannabe_letter_title -->
<div class="wannabe_letter_title">
  <h3 style="margin-top:10px;">워너비 레터</h3>
</div>
<!-- wannabe_letter_title -->
