<div class="container purc_ready my_page my_page_wnb_letter">
  <div class="row" id="tabs">
    <%= render "shared/user_info_tab" %>

    <div class="col-md-9 no-gap">
      <div class="col-md-12 purc_ready my_page" style="padding: 0px 15px;">
        <h3 class="header">워너비 레터</h3>
      </div>
      <div class="col-md-12" style="margin-top:30px;">
        <% @purchase_lists.each do |purchase_list| %>
          <div class="mb_line_break_reverse">
            <% if purchase_list.purchase_items.present? && purchase_list.purchase_items.first.product.present? %>
              <table class="table tb_inf_prdt tb_mp_delivery tb_mp_wnb" style="border-spacing: 0px;border-collapse:collapse">
                <tbody>
                  <tr>
                    <th class="tb_mp_delivery_image" scope="row">
                       <%= image_tag purchase_list.purchase_items.first.product.image_basic.thumb, style: 'width:140px;height:140px;' %>
                     </th>
                    <td class="tb_mp_delivery_name text-left">
                      <p class="tb_mp_delivery_name_header">[<%= purchase_list.purchase_items.first.product.brand %>] <%= purchase_list.purchase_items.first.product.name %> <% check_purchase_case(purchase_list) %>에 대한 주문</p>
                      <div class="col-md-2 no-gap">
                        <p class="header_spec">결제 금액</p>
                        <p class="header_spec">주문일</p>
                      </div>
                      <div class="col-md-4 no-gap">
                        <p class="header_spec_sub"><%= sum_purchase_price(purchase_list) %>원</p>
                        <p class="header_spec_sub"><%= purchase_list.created_at.strftime("%Y년 %m월 %d일") %></p>
                      </div>
                    </td>
                    <td class="tb_mp_delivery_choose" style="padding-right:30px;padding-left:30px;">
                      <%= button_tag purchase_list.wannabe_letter.blank? ? "작성가능" : purchase_list.wannabe_letter.status, class: "btn session_btn width_full btn_white", disabled: true, style: "margin-bottom:0px;border:none;" %>
                      <%= button_tag purchase_list.wannabe_letter.blank? ? "워너비레터 작성" : "내용 보기", class: "btn session_btn_black width_full below_trigger", style: "margin-bottom:0px;" %>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="3">
                      <div class="col-md-12 no-gap writing_letter">
                        <div class="col-md-12 profile text-left">
                          <% if purchase_list.influencer_store.present? && purchase_list.influencer_store.user.present? %>
                            <%= image_tag purchase_list.influencer_store.user.image_profile.thumb %>
                            <p><%= purchase_list.influencer_store.user.name %> (<%= purchase_list.influencer_store.user.nickname %>)</p>
                          <% else %>
                            인플루언서 스토어를 알 수 없습니다
                          <% end %>
                        </div>

                        <% if purchase_list.wannabe_letter.blank? %>
                          <% if purchase_list.influencer_store.present? %>
                            <%= form_for @wannabe_letter, url: {action: :create}, html: {class: "form-horizontal"} do |f|  %>
                              <%= f.hidden_field :purchase_list_id, value: purchase_list.id %>
                              <%= f.hidden_field :influencer_store_id, value: purchase_list.influencer_store.id %>
                              <div class="col-md-12 no-gap">
                                <div class="form-group long_height">
                                  <%= f.label :content, "내용" %>
                                  <%= f.text_field :content, class: "form-control", placeholder: "워너비에게 전하고싶은 내용을 작성해주세요" %>
                                </div>
                              </div>
                              <div class="col-sm-12 no-gap text-right">
                                <%= button_tag "작성완료", type: "submit", class: "btn session_btn_black width_full_mb" %>
                              </div>
                            <% end %>
                          <% else %>
                            인플루언서 스토어가 없어 작성할 수 없습니다
                          <% end %>
                        <% else %>
                          <div class="col-md-8 your_letter text-left">
                            <p><%= purchase_list.wannabe_letter.reply.present? ? purchase_list.wannabe_letter.reply : "아직 답장이 도착하지 않았습니다" %></p>
                          </div>
                          <div class="col-md-8 col-md-offset-4 text-right reply">
                            <p><%= purchase_list.wannabe_letter.content %></p>
                          </div>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% else %>
              상품 정보를 알 수 없습니다
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // 인플루언서 active관련
  $('.find_inf_spec').on('click',function() {
    if( $(this).hasClass('active') ) {
      $(this).removeClass('active');
    }
    else {
      $(this).addClass('active');
    }
  })
  // 상세정보 on/off
  $('.below_trigger').closest('tbody').find('tr:last').hide();
  $('.below_trigger').on('click',function(){
    $(this).closest('tbody').find('tr:last').toggle(1000);
  })
})
</script>
