  <div class="col-md-6 card_guide no-gap">
    <div class="col-md-5">
      <a href="/products/product1" style="text-decoration:none">
        <%= image_tag("http://www.ygeshop.com/shopimages/ygnext/002010000013.jpg", alt: "", style: "width:100%") %>
      </a>
    </div>
    <div class="col-md-7 no-gap">
      <a href="/products/product1" style="text-decoration:none">
        <h3 class="product">[SEOULITE] LEEHI BALLCAP</h3>
        <p class="price">35,000 won
        </p>
        <p class="detail">
          이하이 MD의 신규 굿즈 1 - LEEHI BALLCAP
        </p>
      </a>
      <div class="">
        <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
        <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
      </div>
    </div>
  </div>

<div class="col-md-6 card_guide no-gap">
  <div class="col-md-5">
    <a href="/products/product2" style="text-decoration:none">
      <%= image_tag("http://www.ygeshop.com/shopimages/ygnext/0020100000102.jpg?07181656", alt: "", style: "width:100%") %>
    </a>
  </div>
  <div class="col-md-7 no-gap">
    <a href="/products/product2" style="text-decoration:none">
      <h3 class="product">[SEOULITE] LEEHI T-SHIRTS</h3>
      <p class="price">28,000 won
      </p>
      <p class="detail">
        이하이 MD의 신규 굿즈 2 - LEEHI T-SHIRTS
      </p>
    </a>
    <div class="">
      <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
      <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
    </div>
  </div>
</div>
<div class="col-md-6 card_guide no-gap">
  <div class="col-md-5">
    <a href="/products/product3" style="text-decoration:none">
      <%= image_tag("http://www.ygeshop.com/shopimages/ygnext/0020100000112.jpg?07181656", alt: "", style: "width:100%") %>
    </a>
  </div>
  <div class="col-md-7 no-gap">
    <a href="/products/product3" style="text-decoration:none">
      <h3 class="product">[SEOULITE] LEEHI ECOBAG</h3>
      <p class="price">25,000 won
      </p>
      <p class="detail">
        이하이 MD의 신규 굿즈 3 - LEEHI ECOBAG
      </p>
    </a>
    <div class="">
      <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
      <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
    </div>
  </div>
</div>
<div class="col-md-6 card_guide no-gap">
  <div class="col-md-5">
    <a href="/products/product4" style="text-decoration:none">
      <%= image_tag("http://www.ygeshop.com/shopimages/ygnext/0020100000122.jpg?07181656", alt: "", style: "width:100%") %>
    </a>
  </div>
  <div class="col-md-7 no-gap">
    <a href="/products/product4" style="text-decoration:none">
      <h3 class="product"> LEEHI CANDLE SET</h3>
      <p class="price">10,000 won
      </p>
      <p class="detail">
        이하이 MD의 신규 굿즈 4 - LEEHI CANDLE SET
      </p>
    </a>
    <div class="">
      <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
      <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
    </div>
  </div>
</div>
</a>
<a href="/products/product1" style="text-decoration:none">
<div class="col-md-6 card_guide no-gap">
  <div class="col-md-5">
    <a href="/products/product5" style="text-decoration:none">
      <%= image_tag("http://ygeshop.com/shopimages/ygnext/0020100000052.jpg?04031022", alt: "", style: "width:100%") %>
    </a>
  </div>
  <div class="col-md-7 no-gap">
    <a href="/products/product5" style="text-decoration:none">
      <h3 class="product"> [M.V CLIP T] LEE HI ITS OVER</h3>
      <p class="price">38,000 won
      </p>
      <p class="detail">
        [M.V CLIP T] PROJECT - LEE HI ITS OVER
      </p>
    </a>
    <div class="">
      <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
      <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
    </div>
  </div>
</div>
</a>
