<style media="screen">
.navbar-trans .navbar-logo {
  content: url(<%= image_url('logo_default.png') %>);
}
.row {
  margin-right:0px !important;
  margin-left:0px !important;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
</style>

<div class="container about_container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-4">
          <img src="<%= image_url('about_no_1.png') %>">
          <h2>나와 워너비가 <br class="mb_line_break">하나되는 순간</h2>
          <p>워너비가 되는 쇼핑몰 트렌디스트에서<br>워너비와 소통하며 함께<br>새로운 트렌드를 만들어 나가세요.</p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img src="<%= image_url('about_no_2.png') %>">
          <h2>최고의 영화 <br class="mb_line_break">취향 추천 경험</h2>
          <p>트렌디한 워너비가 직접 선택한 아이템과<br>트렌디스트에서만 제공하는<br>가장 특별한 혜택을 경험하세요</p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4 ">
          <img src="<%= image_url('about_no_3.png') %>">
          <h2>감동을 나누는<br class="mb_line_break"> 리뷰와 컬렉션</h2>
          <p>트렌디스트에서는 단순한 아이템을 넘어,<br>다양한 브랜드의 가치와<br>그들이 담고 있는 이야기를 만날 수 있습니다.</p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
      <input type="hidden" name="name" value="23361000" id="hi">

</div>
<div class="count-wrapper count-item">

<div class="row about_detail">
    <div class="col-md-12 about">
      <div class="container">
        <div class="about_content">
          <div class="count-wrapper count-item">
            <img src="<%=image_path('about_big_no_1.png') %>" alt="" />
            <h2>나와 워너비가<br class="mb_line_break"> 하나되는 순간</h2>
            <p>
              트렌디스트는 워너비와 소통하는 쇼핑몰입니다.<br> 그동안 그들의 독특한 개성을 사진으로만 감탄해왔다면<br> 이젠 워너비들과 소통하며 새로운 트렌드를 만들어 나가세요.
            </p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="row about_detail">
    <div class="col-md-12 about">
      <div class="container">
        <div class="about_content about_content_2">
          <div class="count-wrapper count-item">
            <img src="<%=image_path('about_big_no_2.png') %>" alt="" />
            <h2>새로운 발견,<br class="mb_line_break">새로운 시도</h2>
            <p>
              트렌디스트에는 새로운 발견이 있습니다.<br> 트렌디한 워너비들이 직접 선택한 새로운 아이템들을 만나보고<br> 트렌디스트에서만 받을 수 있는 특별한 혜택도 누려보세요.
            </p>
          </div>
        </div>
      </div>

    </div>
</div>


<div class="row about_detail">
    <div class="col-md-12 about">
      <div class="container container_3">
        <div class="about_content about_content_3">
          <div class="count-wrapper count-item">
            <img src="<%=image_path('about_big_no_3.png') %>" alt="" />
            <h2>브랜드,<br class="mb_line_break">그 이상의 이야기</h2>
            <p>
              트렌디스트에서는 다양한 브랜드가 전하는 진심이 담긴<br> 이야기를 만날 수 있습니다.<br> 단순한 아이템, 그 이상의 이야기를 내 일상에 불어넣어 보세요.
            </p>
          </div>
        </div>
      </div>

    </div>
</div>

</div>
<div class="col-md-12 main_center_image about_center_image no-gap" style="background-color:#ffffff">
  <div class="text-center" style="color:#212121;margin-top:150px;margin-bottom:70px;">
    <h1> 8월, Coming Soon</h1>
  </div>
  <div class="col-md-12 text-center" style="margin-bottom:45px;">
    <img class="" src="<%= image_url('logo_desktop.png')%> " alt="" />
  </div>
  <div class="col-md-6 col-md-offset-3 text-center about_last_underline">
    <hr style="border:1px solid #b2b2b2">
  </div>
  <div class="col-md-12 text-center">
    <h3 style="margin-top:45px;">트렌디스트 1기 모집중</h3>
    <a href="/products/recruit" class="btn btn-default">지원하기</a>
    <p style="margin-top:15px;">
      contact@trd.st
    </p>
  </div>
</div>
<%= render "image_setting" %>
