<div class="container deal_detail">
  <div class="row" style="padding-bottom:150px;">
    <div class="col-md-12">
      <h3 class="basic_header">THIS WINTER’S GONNA BE HOT <a href="#">의류 / 패션</a></h3>
    </div>
    <div class="col-md-12 main_sub_image_first">
      <%= image_tag('banner_1.jpg') %>
    </div>

    <div class="col-md-7 deal_desc">
      <p>&nbsp;&nbsp;기존 아이웨어 메이져 브랜드들과 어깨를 나란히 한 비방트 선글라스는 어떤 브랜드인가? 수많은 하우스 아이웨어 브랜드들 속에서 유독 급속도로 성장하고 있는 비방트 선글라스는 요즘 많은 젊이들과 패션 셀럽들에게 관심과 사랑을 받고 있다. 여러가지 이유들이 있겠지만 비방트 선글라스는 많은 패션피플과 셀럽들에게 비방트만의 특별한 아이덴티티를 제공하여 대중들에게 다가가고 있다.</p>
    </div>

    <div class="col-md-12 text-center">
      <hr style="border:1px solid #262626;margin-bottom:80px;">
    </div>

    <div class="col-md-12 no-gap card_thm">
    <!-- 스팟상품 -->
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <%= link_to product_path(1), style: "text-decoration:none" do %>
          <%= image_tag("product_thmb_1", alt: "", style: "width:100%") %>
        <% end -%>
        <%= link_to product_path(1), style: "text-decoration:none;text-align:right" do %>
          <h3 class="product">PASTEL - PINK  / PINK MIRROR</h3>
          <p class="price">36,000 won
          </p>
        <% end -%>
      </div>
    </div>

    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <%= link_to product_path(1), style: "text-decoration:none" do %>
          <%= image_tag("product_thmb_2", alt: "", style: "width:100%") %>
        <% end -%>
        <%= link_to product_path(1), style: "text-decoration:none;text-align:right" do %>
          <h3 class="product">PAPILON - SKY BLUE / SKY BLUE MIRROR</h3>
          <p class="price">36,000 won
          </p>
        <% end -%>
      </div>
    </div>

    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <%= link_to product_path(1), style: "text-decoration:none" do %>
          <%= image_tag("product_thmb_3", alt: "", style: "width:100%") %>
        <% end -%>
        <%= link_to product_path(1), style: "text-decoration:none;text-align:right" do %>
          <h3 class="product">MERCREDI - BLACK / BLUE MIRROR</h3>
          <p class="price">36,000 won
          </p>
        <% end -%>
      </div>
    </div>

    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <%= link_to product_path(1), style: "text-decoration:none" do %>
          <%= image_tag("product_thmb_4", alt: "", style: "width:100%") %>
        <% end -%>
        <%= link_to product_path(1), style: "text-decoration:none;text-align:right" do %>
          <h3 class="product">MOIS - LEOPARD / PURPLE MIRROR</h3>
          <p class="price">36,000 won
          </p>
        <% end -%>
      </div>
    </div>

    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <%= link_to product_path(1), style: "text-decoration:none" do %>
          <%= image_tag("product_thmb_5", alt: "", style: "width:100%") %>
        <% end -%>
        <%= link_to product_path(1), style: "text-decoration:none;text-align:right" do %>
          <h3 class="product">LUNDI - BLUE / BLUE MIRROR</h3>
          <p class="price">36,000 won
          </p>
        <% end -%>
      </div>
    </div>

    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <%= link_to product_path(1), style: "text-decoration:none" do %>
          <%= image_tag("product_thmb_6", alt: "", style: "width:100%") %>
        <% end -%>
        <%= link_to product_path(1), style: "text-decoration:none;text-align:right" do %>
          <h3 class="product">VENDREDI - BLACK BROWN /<br> SILVER MIRROR</h3>
          <p class="price">36,000 won
          </p>
        <% end -%>
      </div>
    </div>

  </div>
  </div>
</div>
