<div class="container">
  <div class="row">
    <div>
      <h3>2016년 여름에 맞는 옷</h3>
    </div>
    <div class="col-md-12 text-center">
      <hr style="border:1px solid #b2b2b2">
    </div>

    <div class="col-md-12 main_sub_image_first">
    </div>
    
    <div class="col-md-12">
      reifefar fef,eaf,ewa,f3oifiaiefa<br/>
      f3ifnieakf,afeafaeif3fa<br/>
      fa3nifnaifeafonaeoinfio3
    </div>

    <div class="col-md-12 text-center">
      <hr style="border:1px solid #b2b2b2">
    </div>

    <!-- 스팟상품 -->
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
    <div class="col-md-3 card_guide no-gap">
      <div class="col-md-12">
        <a href="#" style="text-decoration:none">
          <%= image_tag("http://placehold.it/350x150", alt: "", style: "width:100%") %>
        </a>
        <a href="#" style="text-decoration:none">
          <h3 class="product">이름이름</h3>
          <p class="price">12,300 won
          </p>
          <p class="detail">
             설명설명설명
          </p>
        </a>
      </div>
    </div>
  </div>
</div>