<div class="col-md-12 main_center_image no-gap">
  <div class="main_logo_div">
    <%= image_tag "logo_desktop.png", class: "main_logo" %>
  </div>
  <div class="main_service">
    <%= link_to "DEALS", products_path, class: "menu_first active" %>
    <%= link_to "INFLUENCERS", influences_path, class: "menu_second" %>
    <%= link_to "ABOUT", about_products_path, class: "menu_third" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 no-gap main_slide">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li id="carousel_1" data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li id="carousel_2" data-target="#myCarousel" data-slide-to="1"></li>
          <li id="carousel_3" data-target="#myCarousel" data-slide-to="2"></li>
          <li id="carousel_4" data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <%= image_tag("002.jpg", alt: "Chania", style: "width:100%") %>
            <div class="carousel-caption">
              <h3>Chania</h3>
              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("003.jpg", alt: "Chania", style: "width:100%") %>
            <div class="carousel-caption">
              <h3>Chania</h3>
              <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("002.jpg", alt: "Flower", style: "width:100%") %>
            <div class="carousel-caption">
              <h3>Flowers</h3>
              <p>Beatiful flowers in Kolymbari, Crete.</p>
            </div>
          </div>

          <div class="item">
            <%= image_tag("005.jpg", alt: "Flower", style: "width:100%") %>
            <div class="carousel-caption">
              <h3>Flowers</h3>
              <p>Beatiful flowers in Kolymbari, Crete.</p>
            </div>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <%= image_tag("slide_arrow_left.png", alt: "") %>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <%= image_tag("slide_arrow_right.png", alt: "") %>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <% @products.each_with_index do |p, i| %>
      <% if i == 0 %>
      <div class="col-md-12 main_sub_image_first">
        <%= image_tag("http://placehold.it/1140x300", alt: "", class: "link-thumb", data: {href: product_path(p)}) %>
      </div>
      <% else %>
      <div class="col-md-6 main_sub_image">
        <div class="col-md-12">
          <%= image_tag("http://placehold.it/545x300", alt: "", class: "link-thumb", data: {href: product_path(p)}) %>
        </div>
      </div>
      <% end %>
    <% end %>

    <div class="col-md-6 card_guide">
      <div class="col-md-5">
        <%= image_tag("https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250", alt: "", style: "width:100%") %>
      </div>
      <div class="col-md-7 no-gap">
        <h3 class="product"> 문지르지 않아도 되는 수분 보습 각질제거팩</h3>
        <p class="price">12,000 won
        </p>
        <p class="detail">
          튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 그들은 날카로우니 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다.
        </p>
        <div class="">
          <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
          <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
        </div>
      </div>
    </div>

    <div class="col-md-6 card_guide">
      <div class="col-md-5">
        <%= image_tag("https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250", alt: "", style: "width:100%") %>
      </div>
      <div class="col-md-7 no-gap">
        <h3 class="product"> 문지르지 않아도 되는 수분 보습 각질제거팩</h3>
        <p class="price">12,000 won
        </p>
        <p class="detail">
          튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 그들은 날카로우니 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다. 튼튼하며, 피고, 청춘이 곧 피부가 대중을 봄바람이다.
        </p>
        <div class="">
          <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
          <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
        </div>
      </div>
    </div>
  </div>
</div>