<div class="col-md-12 main_center_image no-gap">
  <div class="main_logo_div">
    <%= image_tag "logo_desktop.png", class: "main_logo" %>
  </div>
  <div class="main_service">
    <%= link_to "DEALS", products_path, class: "menu_first active" %>
    <%= link_to "INFLUENCERS", influences_path, class: "menu_second" %>
    <%= link_to "ABOUT", about_products_path, class: "menu_third" %>
  </div>
</div>

<div class="container">
  <div class="row" style="padding-bottom:50px;">
    <div class="col-md-6 col-md-offset-3 card_guide no-gap">
      <div class="col-md-5">
        <%= image_tag(@product.image_url, alt: "", style: "width:100%") %>
      </div>
      <div class="col-md-7 no-gap">
        <h3 class="product"><%= @product.name %></h3>
        <p class="price"><%= @product.price %> won
        </p>
        <p class="detail">
          <%= @product.desc %>
        </p>
        <div class="">
          <a href="#"><%= image_tag("icon_btn_cart.png", alt: "") %></a>
          <a href="#"><%= image_tag("icon_btn_wish_list.png", alt: "") %></a>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <table class="tbl_basic tbl_type_basic">
        <h5 class="product_header">주문 정보</h5>
        <tbody>
          <tr class="fir">
            <th>주소</th>
            <td><input type="text" name="address" id="address" value="" placeholder="배송지를 입력해주세요" /></td>
            <th>우편번호</th>
            <td><input type="text" name="postcode" id="postcode" value=""/></td>
          </tr>
          <tr>
            <th>전화번호</th>
            <td><input type="text" name="phone" id="phone" value=""/></td>
            <th>email</th>
            <td><input type="text" name="email" id="email" value=""/></td>
          </tr>
          <tr>
            <th>이름</th>
            <td><input type="text" name="name" id="name" value=""/></td>
            <th>상품명</th>
            <td><input type="text" name="product" id="product" value="<%= @product.name %>" readonly=true/></td>
          </tr>
          <tr>
            <th>
              결제방식
            </th>
            <td>
              <%= select_tag "pay_method","<option value='card'>신용카드</option><option value='trans'>실시간계좌이체</option><option value='vbank'>가상계좌</option><option value='phone'>휴대폰소액결제</option>".html_safe %>
            </td>
            <th>결제금액</th>
            <td><input type="text" name="price" id="price" value="<%= @product.price %>" readonly=true/>원</td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-6" style="padding-left:0px;margin-top:15px;">
          <a href="#" id="buyBtn" class="btn btn-default" style="width:100%;background-color: #212121;
width: 100%;
color: #ffffff;
padding: 10px 15px;"><i class="fa fa-check"></i> 구매</a>
      </div>
      <div class="col-md-6" style="padding-right:0px;margin-top:15px;">
          <a href="javascript:history.go(-1)" class="btn btn-default" style="width:100%;padding: 10px 15px;"><i class="fa fa-undo"></i> 뒤로가기</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.1.js"></script>
<script type="text/javascript">
  $(document).on('click', '#buyBtn', function() {
    var IMP = window.IMP;
    IMP.init('imp21979455');

    IMP.request_pay({
        pg : 'html5_inicis',
        pay_method : $('#pay_method').val(),
        merchant_uid : 'merchant_' + new Date().getTime(),
        name : $('#product').val(),
        amount : $('#price').val(),
        buyer_email : $('#email').val(),
        buyer_name : $('#name').val(),
        buyer_tel : $('#phone').val(),
        buyer_addr : $('#address').val(),
        buyer_postcode : $('#postcode').val(),
        m_redirect_url: 'test-env2.ap-northeast-2.elasticbeanstalk.com'
    }, function(rsp) {
        if ( rsp.success ) {
            var msg = '결제가 완료되었습니다.';
            msg += '고유ID : ' + rsp.imp_uid;
            msg += '상점 거래ID : ' + rsp.merchant_uid;
            msg += '결제 금액 : ' + rsp.paid_amount;
            msg += '카드 승인번호 : ' + rsp.apply_num;

            $.ajax({
              url: '/purchases',
              method: 'post',
              data: rsp
            }).done(function(res) {
              location.href = '/products/purchases_complete?product_id=' + '<%= @product.id %>' + '&buyer_addr=' + res.buyer_addr + '&buyer_postcode=' + res.buyer_postcode + '&pay_method=' + res.pay_method + '&buyer_name=' + res.buyer_name;
            });
        } else {
            var msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;

            alert(msg);
        }
    });
  });
</script>


<%= render "image_setting" %>
