<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div>
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
          <h4 class="pull-right"><%= @product.price %> 원</h4>
          <h4><%= @product.name %></h4>
          <p><%= @product.desc %></p>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
          <button id="addBasketBtn" data-url="<%= shopping_items_path %>" data-product-id="<%= @product.id %>" class="btn btn-default">장바구니</button>
          <button id="addWishlistBtn" data-url="<%= wishlist_items_path %>" data-product-id="<%= @product.id %>" class="btn btn-default">위시리스트</button>
          <%= link_to '구매', shopping_items_path, class: "btn btn-default" %>
        </div>
        <div class="content thumbnail">
          <img src="http://placehold.it/320x150" alt="">
          <img src="http://placehold.it/320x150" alt="">
          <img src="http://placehold.it/320x150" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
