<style>
  .navbar-trans {
    background-color: #f8f8f8 !important;
  }
  .navbar-trans #nav_close .navbar-nav > li > a {
  color: #212121;
}
</style>
<!-- ordinary nav-->
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas nav_mb_right_slide" role="navigation">
    <div class="row">
      <div class="col-md-12">
        <div class="col-xs-4">
          <%= image_tag "profile_1.png", style: "border-radius:100%;width:60px;margin-top:15px;", alt: "" %>
        </div>
        <div class="col-xs-8 no-gap">

          <a href="#" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
            <%= image_tag "icon_close_mobile_copy_2@2x.png", class: "nav_mb_menu_cancel" %></a>
          <h3>우희 님</h3>
          <p class="detail">
          asdf@gmail.com
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 mb_nav_right_btn">
        <a class="btn wish_cart_btn" style="width:100%"> <%= image_tag "icon_gnb_wish_list.png", style: "width:16px;" %>&nbsp;&nbsp;위시리스트</a>
    </div>
    <div class="col-xs-6 mb_nav_right_btn">
        <a class="btn wish_cart_btn" style="width:100%"> <%= image_tag "icon_gnb_cart.png", style: "width:16px;" %>&nbsp;&nbsp;장바구니</a>
    </div>
    <div class="col-xs-12 no-gap">
      <ul class="nav navmenu-nav">
        <li class="active"><a href="#">DEALS</a></li>
        <li class="active"><a href="#">INFLUENCERS</a></li>
        <li class="active"><a href="#">ABOUT</a></li>
      </ul>
    </div>
    <div class="col-xs-12">
      <ul class="nav navmenu-nav">
        <li>
          <a class="up_down" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="MenuToggle();">
            <%= image_tag "icon_gnb_mypage_mobile@2x" %> 마이페이지 <i class="fa fa-chevron-down"></i>
          </a>
        </li>
        <script>
        function MenuToggle() {
          if ( $('.up_down').find('i').hasClass('fa-chevron-down') ) {
            $('.up_down').find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
          }
          else {
            $('.up_down').find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
          }
        }
        </script>
        <div id="collapseExample" class="collapse">
          <ul class="nav navmenu-nav">
            <li><a href="#">주문 조회</a></li>
            <li><a href="#">교환 / 반품</a></li>
            <li><a href="#">쿠폰</a></li>
            <li><a href="#">상품 문의 내역</a></li>
            <li><a href="#">1:1 문의 내역</a></li>
            <li><a href="#">회원 정보 관리</a></li>
            <li><a href="#">배송지 관리</a></li>
          </ul>
        </div>
      </ul>
    </div>
    <div class="col-xs-12">
      <ul class="nav navmenu-nav">
        <li><a href="#"> <%= image_tag 'icon_gnb_cs_m@2x.png' %>고객센터</a></li>
        <li><a href="#">로그아웃</a></li>
      </ul>
    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-top mega navbar-small navbar-fw neon text-center" style="z-index:10;">

  <ul class="nav nav-pills nav-justified main_service" style="font-size: 14px; width: 500px; margin: auto; left: 0; right: 0px; position: fixed; z-index: 11; top: 20px; line-height: 16px;">
    <li> <%= link_to "DEALS", products_path, class: "menu_second" %></li>
    <li> <%= link_to "INFLUENCERS", influencer_stores_path, class: "menu_second" %></li>
    <li> <%= link_to "ABOUT", about_products_path, class: "menu_second" %></li>
  </ul>
  <!-- Navbar Links -->
  <div id="nav_close" class="navbar-collapse collapse page-scroll navbar-right" style="margin-right:0px;">
    <ul class="nav navbar-nav navbar-right_profile">
      <li><a href="#" onclick="alert('준비중입니다');"><img class="nav_off_scroll_1_trans" src="<%= image_url('icn_search_1.png') %>" alt=""></a></li>
      <li><a href="#" onclick="alert('준비중입니다');"><img src="<%= image_url('icn_wish_1.png') %>" class="nav_off_scroll_1_trans" alt=""></a></li>
      <!--<li><a href="<%= wishlist_items_path %>"><img src="<%= image_url('icn_wish_1.png') %>" class="nav_off_scroll_1_trans" alt=""></a></li>-->
      <li><a href="#" onclick="alert('준비중입니다');"><img class="nav_off_scroll_3_trans" src="<%= image_url('icn_cart_1.png') %>"alt=""></a></li>
      <!--<li><a href="<%= shopping_items_path %>"><img class="nav_off_scroll_3_trans" src="<%= image_url('icn_cart_1.png') %>"alt=""></a></li>-->
     <% if user_signed_in? %>
        <li class="dropdown">
          <a style="color:#212121" href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Profile", edit_user_registration_path %></li>
            <li><%= link_to "주문내역", purchases_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
          </ul>
        </li>
        <li>
          <%= link_to "#", id: "main_profile" do %>
            <%= image_tag current_user ? current_user.image_profile : "default_profile.png", alt: "" %>
          <% end %>
        </li>
      <% else %>
        <li class="session"><%= link_to "로그인", new_user_session_path %></li>
        <li style="color:#212121" class="session"><%= link_to "회원가입", new_user_registration_path %></li>
        <li class="invisible">
          <%= link_to "#", id: "main_profile" do %>
            <%= image_tag current_user ? current_user.image_profile : "default_profile.png", alt: "" %>
          <% end %>
        </li>
      <% end %>

    </ul><!-- / .nav .navbar-nav -->
  </div><!--/.navbar-collapse -->
  <!-- Logo -->
  <a href="/" class="navbar-brand" id="nav_main" style="cursor:pointer;"><img style="width:40px;" class="navbar-logo_trans" src="<%= image_url('logo_desktop.png') %>"></a>
  <a href="/" class="navbar-brand navbar-brand_mb" id="navbar-brand_mb" style="cursor:pointer;line-height:40px;padding-top:5px;">
    <img style="width:40px;" class="navbar-logo_trans" src="<%= image_url('logo_desktop.png') %>">
  </a>
  <span style="margin-bottom:0px;line-height:50px;text-align:center;" class="mb_line_break_inline mb_line_break"><%=@current_page%></span>
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</nav>
