<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="description" content="Tredist">
  <meta name="author" content="jamie.yun">
  <title>Trendist</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar">
  <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-fw neon" style="z-index:10;">
    <ul class="nav nav-pills nav-justified" style="font-size: 14px; width: 300px; margin: auto; left: 0; right: 40px; position: fixed; z-index: 11; top: 15px; line-height: 16px; ">
      <li> <%= link_to "DEALS", products_path %></li>
      <li> <%= link_to "INFLUENCERS", influences_path %></li>
      <li> <%= link_to "ABOUT", about_products_path %></li>
    </ul>
    <div class="navbar-header page-scroll">
      <button id="nav_toggle_visibility" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="border:#f8f8f8;background:#f8f8f8">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo -->
      <a class="navbar-brand" id="nav_main" style="cursor:pointer;"><div class="navbar-logo"></div></a>
      <a class="navbar-brand navbar-brand_mb" id="navbar-brand_mb" style="cursor:pointer;line-height:40px;padding-top:5px;">
        <div>
          ABOUT
          <div style="margin-top: -7px;margin-bottom:0px;">
            <hr>
          </div>
        </div>
        <div>
          <img src="<%=image_url('util_btn_1.png')%>" style="display:inline-block" alt="" />
          <img src="<%=image_url('util_btn_up_1.png')%>" style="display:inline-block" alt="" />
        </div>
      </a>
    </div>

    <!-- Navbar Links -->
    <div id="nav_close" class="navbar-collapse collapse page-scroll navbar-right" style="margin-right:0px;">
      <ul class="nav navbar-nav">
        <li><a href="#"><div class="nav_off_scroll_1" alt=""></div></a></li>
        <li><a href="<%= shopping_items_path %>"><div class="nav_off_scroll_2" alt=""></div></a></li>
        <li><a href="<%= wishlist_items_path %>"><div class="nav_off_scroll_3" alt=""></div></a></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
        <li>
          <%= link_to "#", id: "main_profile" do %>
            <%= image_tag "influencer_sample.jpg", alt: "" %>
          <% end %>
        </li>
      </ul><!-- / .nav .navbar-nav -->
    </div><!--/.navbar-collapse -->

    <div id="nav_mb_menu" class="navbar-collapse collapse page-scroll navbar-right navbar-collapse_mb_left" style="margin-right:0px;">
      <ul class="nav navbar-nav">
        <li> <%= link_to "DEALS", products_path %></li>
        <li> <%= link_to "INFLUENCERS", influences_path %></li>
        <li> <%= link_to "ABOUT", about_products_path %></li>
      </ul><!-- / .nav .navbar-nav -->
    </div><!--/.navbar-collapse -->

  </nav><!-- / .navbar -->

  <div class="container">
    <%= render partial: "shared/flash_messages", flash: flash %>

    <%= yield %>
  </div>

  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CDF Bros 2016</p>
      </div>
    </div>
  </footer>
</body>
</html>
